#middle .sidebar {
  width: 168px;
  float: left;
  margin-right: 10px;
  background-color: #EEE;
}

#middle .sidebar h2 {
  background-color: #B90101;
  width: 168px;
  height: 66px;
  display: block;
  width: 100%;
  text-align: center;
  line-height: 66px;
  color: #fff;
  font-size: 18px;
}

#middle .sidebar > ul {
  width: 168px;
  background-color: #000;
  padding-top: 28px;
  padding-bottom: 1px;
}

#middle .sidebar > ul a {
  color: #fff;
  font-size: 14px;
}

#middle .sidebar > ul > li {
  margin-bottom: 28px;
}

#middle .sidebar > ul > li .active {
  background-color: #B90101;
}

#middle .sidebar > ul > li h3 {
  height: 25px;
}

#middle .sidebar > ul > li h3 a {
  line-height: 25px;
  display: block;
  font-size: 16px;
  color: #fff;
  padding-left: 22px;
  width: 146px;
  height: 100%;
}

#middle .sidebar > ul > li h3:hover {
  background-color: #B90101;
}

#middle .sidebar > ul > li > ul li {
  height: 25px;
  line-height: 25px;
}

#middle .sidebar > ul > li > ul li a {
  display: block;
  padding-left: 22px;
  line-height: 25px;
  width: 146px;
  height: 100%;
}

#middle .sidebar > ul > li > ul li:hover {
  background-color: #B90101;
}

#middle .main {
  width: 1020px;
  float: left;
  border: 1px solid #d2d2d2;
}

#middle .main .add_button {
  margin: 25px 0 22px 28px;
  line-height: 35px;
}

#middle .main .add_button > a {
  display: inline-block;
  cursor: pointer;
  height: 35px;
  line-height: 35px;
  width: 147px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  background-color: #B90101;
}

#middle .main .add_button > span {
  color: #666;
  font-size: 14px;
  margin-left: 20px;
}

#middle .main #add_addr {
  width: 960px;
  margin-left: 28px;
  border: 1px solid #E5E5E5;
  padding: 15px 0 26px 0;
}

#middle .main #add_addr > h3 {
  color: #222;
  font-size: 16px;
  font-weight: bold;
  margin-left: 24px;
}

#middle .main #add_addr > div > div {
  margin-top: 10px;
  overflow: hidden;
}

#middle .main #add_addr > div > div label {
  font-size: 14px;
  color: #666;
  line-height: 27px;
  text-align: right;
  display: block;
  float: left;
  width: 80px;
}

#middle .main #add_addr > div > div input {
  height: 25px;
  border: 1px solid #b5b5b5;
  color: #666;
  padding-left: 5px;
  display: block;
  float: left;
}

#middle .main #add_addr > div > div > span {
  color: #B90101;
  font-size: 14px;
  margin-left: 10px;
}

#middle .main #add_addr > div > div #addruser {
  width: 157px;
}

#middle .main #add_addr > div > div #area {
  width: 190px;
}

#middle .main #add_addr > div > div #addr_details {
  width: 392px;
}

#middle .main #add_addr > div > div #phone,
#middle .main #add_addr > div > div #tel {
  width: 182px;
}

#middle .main #add_addr > div > div #email {
  width: 295px;
}

#middle .main #add_addr > div > button {
  font-size: 14px;
  color: #fff;
  height: 27px;
  width: 157px;
  line-height: 27px;
  text-align: center;
  background-color: #B90101;
  margin: 24px 0 0 21px;
  cursor: pointer;
}

#middle .main #add_addr > div > button:disabled {
  opacity: 0.5;
}

#middle .main .addrs {
  padding-bottom: 20px;
}

#middle .main .addrs > li {
  border: 1px solid #E5E5E5;
  width: 937px;
  margin: 14px 0 0 28px;
  padding: 15px 0 0 23px;
  font-size: 14px;
  position: relative;
}

#middle .main .addrs > li h4 {
  color: #222;
  font-weight: bold;
}

#middle .main .addrs > li ul {
  margin-top: 18px;
  padding-bottom: 10px;
}

#middle .main .addrs > li ul li {
  height: 25px;
  line-height: 25px;
  color: #666;
}

#middle .main .addrs > li button {
  position: absolute;
  top: 5px;
  right: 9px;
  cursor: pointer;
  background-color: transparent;
}

#middle .main .addrs > li .edit,
#middle .main .addrs > li .default {
  position: absolute;
  color: #1d8298;
  font-size: 14px;
  cursor: pointer;
  right: 30px;
  bottom: 11px;
}

#middle .main .addrs > li .default {
  right: 100px;
}

#middle .main .addrs > li.default span.default {
  display: none;
}

#middle .main > div:last-of-type {
  margin-top: 28px;
  margin-bottom: 26px;
}

#middle .main > div:last-of-type button {
  background-color: #D72828;
}

#middle .page {
  float: right;
  margin: 20px 28px 29px 0;
}

#middle .page li {
  float: left;
  margin: 0 6px;
}

#middle .page .on a {
  color: #B90101;
}

#middle .page li:hover a {
  color: #B90101;
}

#middle .page a {
  font-size: 14px;
}
