#middle .crumbs {
  margin-bottom: 22px;
}

#middle .containe .thead {
  overflow: hidden;
  margin-bottom: 63px;
}

#middle .containe .thead > h2 {
  float: left;
  color: #000;
  font-size: 20px;
  width: 143px;
  height: 36px;
  padding-top: 35px;
  text-align: right;
  background: url("../images/logo03.png") no-repeat;
}

#middle .containe .thead .progressbar {
  float: right;
  height: 31px;
  margin-top: 27px;
}

#middle .containe .thead .progressbar li {
  float: left;
  position: relative;
  width: 205px;
  height: 7px;
  background-color: #C5C5C5;
}

#middle .containe .thead .progressbar li > span,
#middle .containe .thead .progressbar li > h5 {
  position: absolute;
  font-size: 14px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

#middle .containe .thead .progressbar li > span {
  width: 31px;
  line-height: 31px;
  height: 31px;
  -webkit-border-radius: 15.5px;
  -moz-border-radius: 15.5px;
  -ms-border-radius: 15.5px;
  -o-border-radius: 15.5px;
  border-radius: 15.5px;
  background-color: #C5C5C5;
  color: #fff;
  font-weight: bold;
  margin: auto;
}

#middle .containe .thead .progressbar li > h5 {
  color: #666;
  top: 26px;
  width: 100%;
  font-weight: normal;
}

#middle .containe .thead .progressbar > li:first-of-type {
  border-radius: 3px 0 0 3px;
}

#middle .containe .thead .progressbar > li:last-of-type {
  border-radius: 0 3px 3px 0;
}

#middle .containe .thead .progressbar .on {
  background-color: #B90101;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

#middle .containe .thead .progressbar .on > span {
  background-color: #B90101;
}

#middle .containe .thead .progressbar .on > h5 {
  color: #B90101;
}

#middle .containe .thead .progressbar .done {
  background-color: #FFDEDE;
}

#middle .containe .thead .progressbar .done > span {
  background-color: #FFDEDE;
}

#middle .containe .thead .progressbar .done > h5 {
  color: #FFDEDE;
}

#middle .containe .main > h2 {
  font-size: 18px;
  color: #333;
}

#middle .containe .main .site_info {
  width: 100%;
  border: 1px solid #DCDCDC;
  border-bottom: none;
  padding-top: 12px;
  padding-bottom: 122px;
  margin-top: 14px;
}

#middle .containe .main .site_info > div {
  width: 1152px;
  margin: 0 auto;
  overflow: hidden;
}

#middle .containe .main .site_info > div > h3 {
  float: left;
  font-size: 16px;
  color: #020202;
  font-weight: normal;
}

#middle .containe .main .site_info > div .add_site {
  float: right;
  font-size: 14px;
  color: #010101;
  cursor: pointer;
}

#middle .containe .main .site_info .site_list {
  width: 1129px;
  margin: 18px auto 0 auto;
}

#middle .containe .main .site_info .site_list > li {
  width: 100%;
  color: #666;
  font-size: 16px;
  height: 32px;
  background-color: #DCDCDC;
  cursor: pointer;
  margin-bottom: 16px;
}

#middle .containe .main .site_info .site_list > li .simple,
#middle .containe .main .site_info .site_list > li .name,
#middle .containe .main .site_info .site_list > li .site,
#middle .containe .main .site_info .site_list > li .tel {
  float: left;
  height: 32px;
  line-height: 32px;
}

#middle .containe .main .site_info .site_list > li .simple {
  width: 170px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #C9C9C9;
}

#middle .containe .main .site_info .site_list > li .name {
  padding: 0 20px;
}

#middle .containe .main .site_info .site_list > li .site {
  padding-right: 20px;
}

#middle .containe .main .site_info .site_list > li .default {
  float: right;
  cursor: pointer;
  color: #010101;
  height: 32px;
  line-height: 32px;
}

#middle .containe .main .site_info .site_list > li .edit {
  margin: 0 5px 0 19px;
  float: right;
}

#middle .containe .main .site_info .site_list > li .edit > a {
  cursor: pointer;
  color: #010101;
  height: 32px;
  line-height: 32px;
  font-size: 16px;
}

#middle .containe .main .site_info .site_list > li:hover {
  background-color: #FFDEDE;
}

#middle .containe .main .site_info .site_list .active {
  background-color: #FFDEDE;
}

#middle .containe .main .site_info .site_list .active .simple {
  border: 1px solid #B90101;
  background: url(../images/select_bg2.png) no-repeat right bottom #fff;
}

#middle .containe .main .site_info .up_site {
  cursor: pointer;
  margin-left: 35.5px;
  color: #666;
  font-size: 14px;
}

#middle .containe .main .site_info > i {
  display: block;
  width: 1168px;
  height: 2px;
  background-color: #A0A0A0;
  margin: 18px auto 0 auto;
}

#middle .containe .main .order_info {
  width: 100%;
  position: relative;
  margin-bottom: 40px;
}

#middle .containe .main .order_info > h3 {
  color: #020202;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  top: -95px;
  left: 24px;
}

#middle .containe .main .order_info .title {
  width: calc(100% + 2px);
  overflow: hidden;
  height: 50px;
  background-color: #E5E5E5;
  margin: 11px 0 14px 0;
  position: absolute;
  top: -72px;
  left: 0;
}

#middle .containe .main .order_info .title > li {
  float: left;
  height: 50px;
  line-height: 50px;
  color: #666;
  font-size: 14px;
}

#middle .containe .main .order_info .title li:nth-of-type(1) {
  margin-left: 28px;
  margin-right: 75px;
  min-width: 386px;
}

#middle .containe .main .order_info .title li:nth-of-type(2) {
  min-width: 165px;
}

#middle .containe .main .order_info .title li:nth-of-type(3) {
  min-width: 166px;
  text-align: center;
}

#middle .containe .main .order_info .title li:nth-of-type(4) {
  min-width: 84px;
  text-align: center;
}

#middle .containe .main .order_info .title li:nth-of-type(5) {
  min-width: 115px;
  text-align: center;
  margin-left: 45px;
}

#middle .containe .main .order_info .title li:nth-of-type(6) {
  min-width: 116px;
  text-align: right;
}

#middle .containe .main .order_info .items > h3 {
  font-size: 14px;
  color: #666;
  font-weight: normal;
  line-height: 28px;
  margin-left: 16px;
}

#middle .containe .main .order_info .items .item {
  border-top: 1px solid #aaa;
  width: 100%;
}

#middle .containe .main .order_info .items .item > li {
  overflow: hidden;
  padding: 20px 0 21px 0;
  font-size: 14px;
  color: #666;
  border: 1px solid #BFBFBF;
}

#middle .containe .main .order_info .items .item > li .info,
#middle .containe .main .order_info .items .item > li .color,
#middle .containe .main .order_info .items .item > li .price,
#middle .containe .main .order_info .items .item > li .count,
#middle .containe .main .order_info .items .item > li .subtotal,
#middle .containe .main .order_info .items .item > li .tips {
  float: left;
}

#middle .containe .main .order_info .items .item > li .info {
  overflow: hidden;
  min-width: 386px;
  margin-left: 28px;
  margin-right: 75px;
}

#middle .containe .main .order_info .items .item > li .info > a {
  float: left;
  border: 1px solid #d2d2d2;
  width: 112px;
  height: 112px;
  margin: 0 18px 0 12px;
}

#middle .containe .main .order_info .items .item > li .info > a img {
  display: block;
  width: 100%;
  height: 100%;
}

#middle .containe .main .order_info .items .item > li .info > div {
  float: left;
  width: 237px;
}

#middle .containe .main .order_info .items .item > li .info > div > a {
  line-height: 23px;
  display: block;
  margin-bottom: 22px;
  font-size: 14px;
  color: #666;
}

#middle .containe .main .order_info .items .item > li .info > div > p {
  margin-top: 5px;
  font-size: 14px;
  color: #666;
}

#middle .containe .main .order_info .items .item > li .info > div > p img {
  vertical-align: middle;
  margin-right: 8px;
}

#middle .containe .main .order_info .items .item > li .info > div p:first-of-type {
  color: #556fb5;
}

#middle .containe .main .order_info .items .item > li .color,
#middle .containe .main .order_info .items .item > li .price {
  line-height: 23px;
}

#middle .containe .main .order_info .items .item > li .color {
  min-width: 165px;
}

#middle .containe .main .order_info .items .item > li .price {
  min-width: 166px;
  text-align: center;
}

#middle .containe .main .order_info .items .item > li .count {
  min-width: 84px;
  text-align: center;
  color: #000000;
}

#middle .containe .main .order_info .items .item > li .tips {
  min-width: 115px;
  text-align: center;
  margin-left: 45px;
}

#middle .containe .main .order_info .items .item > li .subtotal {
  min-width: 116px;
  text-align: right;
}

#middle .containe .main .order_info .items .item > li .subtotal em,
#middle .containe .main .order_info .items .item > li .subtotal span {
  display: block;
  text-align: right;
  line-height: 23px;
}

#middle .containe .main .order_info .items .item > li .subtotal em {
  font-style: normal;
  font-weight: bold;
  color: #000;
}

#middle .containe .main .order_info .items .result {
  width: 100%;
  background-color: #FFDEDE;
  overflow: hidden;
  color: #666;
  font-size: 14px;
  padding-top: 12px;
  padding-bottom: 20px;
}

#middle .containe .main .order_info .items .result > div:first-of-type {
  float: left;
  margin-left: 36px;
}

#middle .containe .main .order_info .items .result > div:first-of-type .bill {
  margin-left: 2px;
}

#middle .containe .main .order_info .items .result > div:first-of-type .bill .edit {
  color: #9a7676;
  cursor: pointer;
  margin-left: 24px;
}

#middle .containe .main .order_info .items .result > div:first-of-type > form > textarea {
  margin-left: 5px;
  vertical-align: top;
  width: 269px;
  min-height: 53px;
  background-color: #fff;
  border: 1px solid #D2D2D2;
  color: #666;
  font-size: 13.5px;
  resize: none;
  padding-left: 5px;
  outline: none;
}

#middle .containe .main .order_info .items .result > div:last-of-type {
  width: 250px;
  float: right;
  margin-right: 200px;
}

#middle .containe .main .order_info .items .result > div:last-of-type .mode {
  display: block;
}

#middle .containe .main .order_info .items .result > div:last-of-type .safe {
  display: block;
  margin-top: 25px;
}

#middle .containe .main .order_info .items .result > div:last-of-type .safe > span {
  float: right;
  display: block;
  width: 192px;
}

#middle .containe .main .order_info .items .result .sum {
  clear: both;
  float: right;
  margin-right: 20px;
}

#middle .containe .main .order_info .items .result .sum > em {
  color: #B90101;
  font-weight: bold;
  font-style: normal;
}

#middle .containe .main .part {
  width: 100%;
  height: 80px;
  padding-top: 5px;
  background-color: #DCDCDC;
}

#middle .containe .main .part .result_price,
#middle .containe .main .part .result_site,
#middle .containe .main .part .user {
  text-align: right;
  margin-right: 21px;
  font-size: 14px;
  color: #000;
  line-height: 25px;
}

#middle .containe .main .part .result_price {
  font-weight: bold;
}

#middle .containe .main .part .result_price > em {
  font-style: normal;
  font-size: 20px;
  color: #B90101;
}

#middle .containe .main .part .result_site {
  font-weight: bold;
}

#middle .containe .main .part .result_site > span {
  font-weight: normal;
}

#middle .containe .main .part .user {
  font-weight: normal;
}

#middle .containe .main .sub {
  float: right;
  margin: 12px 22px 61px 0;
  width: 155px;
  height: 47px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  background-color: #B90101;
  font-size: 20px;
  line-height: 47px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

#middle .containe .main .sub:disabled {
  opacity: 0.5;
}
