.imgblock, #middle .wrapper .banner img {
  display: block;
}

#header .nav .menu .submenu {
  display: block;
}

#middle {
  width: 100%;
  background: url(../images/body_bgimg.png) repeat-y;
  background-size: 100%;
  padding-bottom: 1px;
}

#middle .wrapper {
  height: 600px;
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 1;
  margin-bottom: 100px;
}

#middle .wrapper .banner {
  width: 1920px;
  position: absolute;
}

#middle .wrapper .banner ul {
  z-index: 2;
  position: relative;
}

#middle .wrapper .banner ul li {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

#middle .wrapper .banner ul li:first-child {
  display: block;
}

#middle .wrapper .banner img {
  width: 100%;
}

#middle .wrapper .banner ol {
  position: absolute;
  width: 75px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 570px;
  margin: 0 auto;
  z-index: 2;
}

#middle .wrapper .banner ol li {
  list-style: none;
  width: 15px;
  height: 15px;
  margin: 0 5px;
  float: left;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  background-color: #999999;
  cursor: pointer;
}

#middle .wrapper .banner ol li:hover,
#middle .wrapper .banner ol li.active {
  background-color: #B90101;
}

#middle .new_goods,
#middle .hot_goods,
#middle .re_goods,
#middle .boom_goods {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  background-color: #DF8487;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  padding: 9px 0 9px 9px;
  border: 3px solid #FCBEC0;
  margin-bottom: 124px;
}

#middle .new_goods h3,
#middle .hot_goods h3,
#middle .re_goods h3,
#middle .boom_goods h3 {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-color: #DF8487;
  width: 150px;
  height: 36px;
  border: 3px solid #FCBEC0;
  border-bottom: none;
  text-align: center;
  top: -39px;
  left: 55px;
  position: absolute;
  display: none;
}

#middle .new_goods h3 a,
#middle .hot_goods h3 a,
#middle .re_goods h3 a,
#middle .boom_goods h3 a {
  display: block;
  color: #040404;
  font-size: 20px;
  line-height: 38px;
  height: 100%;
  width: 100%;
}

#middle .new_goods ul,
#middle .hot_goods ul,
#middle .re_goods ul,
#middle .boom_goods ul {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  padding: 11px 0;
  padding-left: 12px;
  width: 1180px;
  background-color: #fff;
  overflow: hidden;
}

#middle .new_goods ul li,
#middle .hot_goods ul li,
#middle .re_goods ul li,
#middle .boom_goods ul li {
  float: left;
  border: 1px solid #d2d2d2;
  width: 291px;
}

#middle .new_goods ul li a,
#middle .hot_goods ul li a,
#middle .re_goods ul li a,
#middle .boom_goods ul li a {
  display: block;
  width: 100%;
}

#middle .new_goods ul li img,
#middle .hot_goods ul li img,
#middle .re_goods ul li img,
#middle .boom_goods ul li img {
  width: 291px;
  height: 196px;
  margin: 0 auto;
  display: block;
}

#middle .new_goods ul li div,
#middle .hot_goods ul li div,
#middle .re_goods ul li div,
#middle .boom_goods ul li div {
  background-color: #EEE;
  width: 100%;
  height: 75px;
  border-top: 1px solid #d2d2d2;
  color: #666;
}

#middle .new_goods ul li div h4,
#middle .hot_goods ul li div h4,
#middle .re_goods ul li div h4,
#middle .boom_goods ul li div h4 {
  margin-top: 6px;
  padding-left: 40px;
}

#middle .new_goods ul li div h4 > a,
#middle .hot_goods ul li div h4 > a,
#middle .re_goods ul li div h4 > a,
#middle .boom_goods ul li div h4 > a {
  font-weight: normal;
  color: #666;
  font-size: 16px;
}

#middle .new_goods ul li div .market_price,
#middle .new_goods ul li div .member_price,
#middle .hot_goods ul li div .market_price,
#middle .hot_goods ul li div .member_price,
#middle .re_goods ul li div .market_price,
#middle .re_goods ul li div .member_price,
#middle .boom_goods ul li div .market_price,
#middle .boom_goods ul li div .member_price {
  font-size: 14px;
  margin-bottom: 3px;
  padding-left: 40px;
}

#middle .new_goods ul li div .member_price,
#middle .hot_goods ul li div .member_price,
#middle .re_goods ul li div .member_price,
#middle .boom_goods ul li div .member_price {
  color: #B90101;
}

#middle .new_goods ul li div .member_price span,
#middle .hot_goods ul li div .member_price span,
#middle .re_goods ul li div .member_price span,
#middle .boom_goods ul li div .member_price span {
  font-weight: bolder;
}

#middle .new_goods ul li:first-of-type,
#middle .hot_goods ul li:first-of-type,
#middle .re_goods ul li:first-of-type,
#middle .boom_goods ul li:first-of-type {
  width: 293px;
  border: none;
}

#middle .new_goods ul li:first-of-type img,
#middle .hot_goods ul li:first-of-type img,
#middle .re_goods ul li:first-of-type img,
#middle .boom_goods ul li:first-of-type img {
  height: 549.4px;
}

#middle .new_goods ul li:hover,
#middle .hot_goods ul li:hover,
#middle .re_goods ul li:hover,
#middle .boom_goods ul li:hover {
  border-color: #B90101;
}

#middle .new_goods ul li:hover h4 > a,
#middle .hot_goods ul li:hover h4 > a,
#middle .re_goods ul li:hover h4 > a,
#middle .boom_goods ul li:hover h4 > a {
  color: #fffefe;
}

#middle .new_goods ul li:hover div,
#middle .hot_goods ul li:hover div,
#middle .re_goods ul li:hover div,
#middle .boom_goods ul li:hover div {
  background-color: #B90101;
  border-color: #B90101;
}

#middle .new_goods ul li:hover div .market_price,
#middle .new_goods ul li:hover div .member_price,
#middle .hot_goods ul li:hover div .market_price,
#middle .hot_goods ul li:hover div .member_price,
#middle .re_goods ul li:hover div .market_price,
#middle .re_goods ul li:hover div .member_price,
#middle .boom_goods ul li:hover div .market_price,
#middle .boom_goods ul li:hover div .member_price {
  color: #fffefe;
}
