$topFontSize: 12px;
$topFontFamily:SimSun;
$topAndNavColor:#666;
$topAndFooterBgColor:#d2d2d2;
$activeBgColor:#B90101;
$navAndTitleAndSearchFontSize:20px;
$inputColor:#aaa;
$navAndClassifyFontFamily:'Microsoft YaHei';
$navClassifyBgColor:#D5D0C8;
$navClassifyColor:#fdfdfd;
$navClassifyChildAndTitleColor:#040404;
$navClassifyH3FontSize:18px;
$navClassifyLiAndproSpanAndDlAndTimeFontSize:14px;
$proH4AndbottomH4AndDtAndServiceFontSize:16px;
$proBoxBgColor:#DF8487;
$proBottomBgColor:#EEE;
$bottomColor:#d4d4d4;
$telFontFamily:Arial;
$telFontSize:36px;
#middle {
    background-color: $proBottomBgColor;
    padding: 84px 0;
    .main {
        width: 892px;
        height: 573px;
        background-color: #fff;
        margin: 0 auto;
        padding-top: 30px;
        .title {
            text-align: center;
            >h3 {
                text-align: center;
                margin-top: 6px;
                a {
                    font-size: $navAndTitleAndSearchFontSize;
                    color: $activeBgColor;
                }
            }
        }
        >form {
            // width: 391px;
            margin: 34px 0 24px 250.5px;
            height: 266px;
            >div {
                margin-bottom: 11px;
                width: 100%;
                height: 54px;
                .aw {
                    float: left;
                    font-style: normal;
                    font-size: $navClassifyLiAndproSpanAndDlAndTimeFontSize;
                    height: 54px;
                    line-height: 54px;
                    width: 240px;
                    padding-left: 10px;
                    background-color: #fff;
                    color: $activeBgColor;
                    display: none;
                }
            }
            label {
                float: left;
                height: 54px;
                line-height: 54px;
                padding: 0 15px;
                img {
                    vertical-align: middle;
                }
            }
            input {
                float: left;
                height: 54px;
                background-color: $proBottomBgColor;
                color: $topAndNavColor;
                font-size: $navClassifyLiAndproSpanAndDlAndTimeFontSize;
                width: 326px;
            }
            .loginname {
                >label {
                    background-color: $proBottomBgColor;
                }
                >input {
                    float: left;
                }
            }
            .pwd {
                overflow: hidden;
                line-height: 54px;
                >label {
                    padding: 0 18px;
                    background-color: $proBottomBgColor;
                }
                >input {
                    float: left;
                }
            }
            .yicon {
                >input {
                    text-align: center;
                    width: 131px;
                }
                >span {
                    float: left;
                    cursor: pointer;
                }
                >span:first-of-type {
                    width: 126px;
                    height: 54px;
                    margin: 0 13px;
                    img {
                        width: 126px;
                        height: 54px;
                    }
                }
                >span:last-of-type {
                    margin-top: 35px;
                    font-size: $navClassifyLiAndproSpanAndDlAndTimeFontSize;
                    color: $topAndNavColor;
                }
                .aw {
                    padding-left: 18px;
                }
            }
            >input {
                width: 391px;
                color: #fff;
                font-size: $navAndTitleAndSearchFontSize;
                background-color: $activeBgColor;
                cursor: pointer;
                margin-top: 16px;
                text-align: center;
            }
        }
        >p {
            width: 100%;
            text-align: center;
            font-size: $navClassifyLiAndproSpanAndDlAndTimeFontSize;
            color: $topAndNavColor;
            display: none;
        }
        .other {
            width: 100%;
            text-align: center;
            margin-bottom: 6px;
            display: none;
            ul {
                display: inline-block;
                overflow: hidden;
                margin: 16px 0;
                li {
                    float: left;
                    margin: 0 12px;
                }
            }
        }
    }
}