body,
html {
  background-color: #fff;
}

#middle {
  background-color: #EEEEEE;
  margin-top: 22px;
}

#middle .crumbs {
  margin-top: 9px;
  margin-bottom: 14px;
}

#middle .containe .order_status {
  width: 100%;
  background: #fff;
  min-height: 181px;
  border-top: 1px solid #B90101;
  font-size: 14px;
  color: #666;
}

#middle .containe .order_status > div:first-of-type {
  margin: 12px 30px 0 0;
  height: 153px;
  float: left;
  width: 235px;
  padding-top: 7px;
  border-right: 1px solid #E5E5E5;
}

#middle .containe .order_status > div:first-of-type .order_num,
#middle .containe .order_status > div:first-of-type h3 {
  width: 100%;
  text-align: center;
}

#middle .containe .order_status > div:first-of-type h3 {
  font-size: 20px;
  color: #B90101;
  margin-top: 55px;
}

#middle .containe .order_status > div:last-of-type {
  float: left;
  margin-top: 20px;
}

#middle .containe .order_status > div:last-of-type > h5 {
  font-size: 14px;
  font-weight: normal;
}

#middle .containe .order_status > div:last-of-type ul {
  margin-top: 25px;
  height: 88px;
}

#middle .containe .order_status > div:last-of-type ul li {
  position: relative;
  float: left;
  min-width: 90px;
  opacity: 0.3;
}

#middle .containe .order_status > div:last-of-type ul li.done {
  opacity: 1;
}

#middle .containe .order_status > div:last-of-type ul li > i {
  float: left;
  height: 19px;
  width: 144px;
  background: url(../images/arrows_icon8.png) no-repeat center;
}

#middle .containe .order_status > div:last-of-type ul li > span {
  float: left;
}

#middle .containe .order_status > div:last-of-type ul li .date,
#middle .containe .order_status > div:last-of-type ul li .time {
  position: absolute;
  left: 0;
  line-height: 25px;
}

#middle .containe .order_status > div:last-of-type ul li .date {
  top: 19px;
  width: 78px;
}

#middle .containe .order_status > div:last-of-type ul li .time {
  top: 38px;
}

#middle .containe .order_status > div:last-of-type ul::after {
  display: block;
  content: '';
  clear: both;
}

#middle .containe .order_status > div:last-of-type > p {
  background: url(../images/user_icon2.png) no-repeat left center;
  padding-left: 15px;
}

#middle .containe .order_status > div:last-of-type > p > span {
  color: #B90101;
}

#middle .containe .ad_info {
  margin-top: 36px;
  width: 100%;
  min-height: 313px;
  background: #fff;
  font-size: 14px;
  color: #666;
}

#middle .containe .ad_info > div:first-of-type {
  margin: 22px 30px 0 0;
  float: left;
  width: 235px;
  min-height: 269px;
  padding-top: 12px;
  border-right: 1px solid #E5E5E5;
}

#middle .containe .ad_info > div:first-of-type > a {
  display: block;
  width: 153px;
  height: 127px;
  border: 1px solid #DCDCDC;
  margin: 0 auto 20px auto;
}

#middle .containe .ad_info > div:first-of-type > a > img {
  display: block;
  width: 100%;
  height: 100%;
}

#middle .containe .ad_info > div:first-of-type > p {
  color: #000;
  text-align: center;
}

#middle .containe .ad_info > div:last-of-type {
  float: left;
  margin-top: 16px;
}

#middle .containe .ad_info > div:last-of-type > h3 {
  color: #000;
  font-size: 16px;
}

#middle .containe .ad_info > div:last-of-type > ul {
  margin-top: 16px;
  font-size: 14px;
  color: #666;
}

#middle .containe .ad_info > div:last-of-type > ul > li {
  line-height: 25px;
}

#middle .containe .ad_info > div:last-of-type > ul > li > h5 {
  font-size: 14px;
  color: #666;
  font-weight: normal;
  float: left;
}

#middle .containe .ad_info > div:last-of-type > ul > li > ul {
  float: left;
}

#middle .containe .ad_info > div:last-of-type > ul > li > ul > li {
  line-height: 25px;
}

#middle .containe .ad_info > div:last-of-type > ul > li > ul > li:first-of-type {
  font-weight: bold;
  color: #B90101;
}

#middle .containe .ad_info > div:last-of-type > ul > li:nth-of-type(2) span {
  font-weight: bold;
}

#middle .containe .user_site {
  margin-top: 37px;
  width: 100%;
  min-height: 236px;
  background: #fff;
  font-size: 14px;
  color: #666;
}

#middle .containe .user_site > dl {
  min-height: 190px;
  margin-left: 34px;
  margin-top: 17px;
  padding-top: 13px;
  width: 265px;
  border-right: 1px solid #E5E5E5;
  float: left;
}

#middle .containe .user_site > dl > dt,
#middle .containe .user_site > dl > dd {
  line-height: 26px;
}

#middle .containe .user_site > dl > dd {
  overflow: hidden;
}

#middle .containe .user_site > dl > dd h6,
#middle .containe .user_site > dl > dd span {
  float: left;
}

#middle .containe .user_site > dl > dd h6 {
  font-size: 14px;
  font-weight: normal;
  min-width: 75px;
}

#middle .containe .user_site > dl > dd span {
  width: 170px;
}

#middle .containe .pro_info {
  margin-bottom: 66px;
  width: 100%;
  background: #fff;
  overflow: hidden;
}

#middle .containe .pro_info > h3 {
  background: #EEEEEE;
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  color: #000;
  font-weight: normal;
}

#middle .containe .pro_info .list {
  font-size: 14px;
  color: #666;
}

#middle .containe .pro_info .list .title {
  overflow: hidden;
}

#middle .containe .pro_info .list .title > li {
  height: 28px;
  line-height: 28px;
  margin-left: 36px;
  float: left;
}

#middle .containe .pro_info .list .title > li:nth-of-type(1) {
  width: 378px;
}

#middle .containe .pro_info .list .title > li:nth-of-type(2) {
  width: 186px;
  text-align: center;
}

#middle .containe .pro_info .list .title > li:nth-of-type(3) {
  width: 120px;
  text-align: center;
}

#middle .containe .pro_info .list .title > li:nth-of-type(4) {
  width: 178px;
  text-align: center;
}

#middle .containe .pro_info .list .title > li:nth-of-type(5) {
  width: 109px;
  text-align: center;
}

#middle .containe .pro_info .list .pro_list {
  width: 100%;
}

#middle .containe .pro_info .list .pro_list li {
  border: 1px solid #BFBFBF;
  overflow: hidden;
  width: calc(100% - 2px);
  margin: 0 0 21px 0;
  padding: 21px 0;
}

#middle .containe .pro_info .list .pro_list li div:first-child {
  margin-left: 36px;
  width: 378px;
  float: left;
}

#middle .containe .pro_info .list .pro_list li div:first-child > a {
  float: left;
  display: block;
  width: 112px;
  height: 112px;
  border: 1px solid #d2d2d2;
}

#middle .containe .pro_info .list .pro_list li div:first-child > a > img {
  display: block;
  width: 100%;
}

#middle .containe .pro_info .list .pro_list li div:first-child > div {
  float: left;
  width: 237px;
  margin-left: 20px;
}

#middle .containe .pro_info .list .pro_list li div:first-child > div > a {
  line-height: 23px;
  display: block;
  margin-bottom: 24px;
  font-size: 14px;
  color: #666;
}

#middle .containe .pro_info .list .pro_list li div:first-child > div > p {
  margin-top: 5px;
  font-size: 14px;
  color: #666;
}

#middle .containe .pro_info .list .pro_list li div:first-child > div > p img {
  vertical-align: middle;
  margin-right: 8px;
}

#middle .containe .pro_info .list .pro_list li div:first-child > div p:first-of-type {
  color: #556fb5;
}

#middle .containe .pro_info .list .pro_list li > span {
  display: block;
  width: 186px;
  float: left;
  margin-left: 36px;
  text-align: center;
  font-size: 14px;
  color: #666;
}

#middle .containe .pro_info .list .pro_list li > span:nth-of-type(2) {
  width: 120px;
}

#middle .containe .pro_info .list .pro_list li > span:nth-of-type(3) {
  width: 178px;
}

#middle .containe .pro_info .list .pro_list li > span:nth-of-type(4) {
  width: 109px;
}

#middle .containe .pro_info .list .pro_list li > span:nth-of-type(4) a {
  display: block;
  line-height: 25px;
  font-size: 14px;
  color: #1d8298;
}

#middle .containe .pro_info .list .pro_list li > span:nth-of-type(4) a:first-of-type {
  color: #666;
}

#middle .containe .pro_info .result {
  margin: 2px 20px 21px 0;
  float: right;
  min-width: 170px;
}

#middle .containe .pro_info .result > div {
  overflow: hidden;
  line-height: 25px;
  color: #666;
  font-size: 14px;
}

#middle .containe .pro_info .result > div > h6 {
  float: left;
  font-weight: normal;
  font-size: 14px;
}

#middle .containe .pro_info .result > div > span {
  float: right;
  text-align: right;
}

#middle .containe .pro_info .result .all_price {
  color: #B90101;
}

#middle .containe .pro_info .result .all_price > span {
  font-weight: bold;
}
