$topFontSize: 12px;
$topFontFamily:SimSun;
$topAndNavColor:#666;
$topAndFooterBgColor:#d2d2d2;
$activeBgColor:#B90101;
$navAndTitleAndSearchFontSize:20px;
$inputColor:#aaa;
$navAndClassifyFontFamily:'Microsoft YaHei';
$navClassifyBgColor:#D5D0C8;
$navClassifyColor:#fdfdfd;
$navClassifyChildAndTitleColor:#040404;
$navClassifyH3FontSize:18px;
$navClassifyLiAndproSpanAndDlAndTimeFontSize:14px;
$proH4AndbottomH4AndDtAndServiceFontSize:16px;
$proBoxBgColor:#DF8487;
$proBottomBgColor:#EEE;
$bottomColor:#d4d4d4;
$telFontFamily:Arial;
$telFontSize:36px;
@mixin border-radius($size) {
    -webkit-border-radius: $size;
    -moz-border-radius: $size;
    -ms-border-radius: $size;
    -o-border-radius: $size;
    border-radius: $size;
}

#middle {
    .crumbs {
        margin-bottom: 22px;
    }
    .containe {
        .thead {
            overflow: hidden;
            margin-bottom: 63px;
            >h2 {
                float: left;
                color: #000;
                font-size: $navAndTitleAndSearchFontSize;
                width: 143px;
                height: 36px;
                padding-top: 35px;
                text-align: right;
                background: url('../images/logo03.png') no-repeat;
            }
            .progressbar {
                float: right;
                height: 31px;
                margin-top: 27px;
                li {
                    float: left;
                    position: relative;
                    width: 205px;
                    height: 7px;
                    background-color: #C5C5C5;
                    >span,
                    >h5 {
                        position: absolute;
                        font-size: $navClassifyLiAndproSpanAndDlAndTimeFontSize;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        text-align: center;
                    }
                    >span {
                        width: 31px;
                        line-height: 31px;
                        height: 31px;
                        @include border-radius(15.5px);
                        background-color: #C5C5C5;
                        color: #fff;
                        font-weight: bold;
                        margin: auto;
                    }
                    >h5 {
                        color: $topAndNavColor;
                        top: 26px;
                        width: 100%;
                        font-weight: normal;
                    }
                }
                >li:first-of-type {
                    border-radius: 3px 0 0 3px;
                }
                >li:last-of-type {
                    border-radius: 0 3px 3px 0;
                }
                .on {
                    background-color: $activeBgColor;
                    @include border-radius(3px);
                    >span {
                        background-color: $activeBgColor;
                    }
                    >h5 {
                        color: $activeBgColor;
                    }
                }
                .done {
                    background-color: #FFDEDE;
                    >span {
                        background-color: #FFDEDE;
                    }
                    >h5 {
                        color: #FFDEDE;
                    }
                }
            }
        }
        .main {
            width: 100%;
            background-color: $proBottomBgColor;
            overflow: hidden;
            padding: 104px 0 184px 0;
            margin-bottom: 134px;
            .state {
                width: 124px;
                height: 103px;
                float: left;
                margin: 0 65px 0 263px;
                img {
                    width: 100%;
                }
            }
            .pay_info {
                float: left;
                padding-top: 8px;
                >h3 {
                    color: #1f9032;
                    font-size: $telFontSize;
                    margin-bottom: 34px;
                }
                >span {
                    color: #010101;
                    font-size: $navClassifyLiAndproSpanAndDlAndTimeFontSize;
                    display: block;
                    margin-bottom: 10px;
                    >em {
                        color: $activeBgColor;
                        font-size: $navClassifyLiAndproSpanAndDlAndTimeFontSize;
                        margin-right: 16px;
                        font-weight: bold;
                        font-style: normal;
                    }
                    >span {
                        color: #000;
                    }
                }
                >p {
                    color: $topAndNavColor;
                    font-size: $navClassifyLiAndproSpanAndDlAndTimeFontSize;
                    margin-bottom: 30px;
                }
                >div {
                    overflow: hidden;
                    line-height: 33px;
                    >span {
                        float: left;
                        font-size: $navClassifyLiAndproSpanAndDlAndTimeFontSize;
                        color: $topAndNavColor;
                    }
                    >a:first-of-type {
                        width: 120px;
                        height: 33px;
                        float: left;
                        line-height: 33px;
                        text-align: center;
                        color: #fff;
                        font-size: $navClassifyLiAndproSpanAndDlAndTimeFontSize;
                        background: url('../images/btn_bg.png') no-repeat;
                        margin: 0 30px;
                    }
                    >a:last-of-type {
                        color: #1d8298;
                        font-size: $navClassifyLiAndproSpanAndDlAndTimeFontSize;
                    }
                }
            }
        }
    }
}