#middle .crumbs {
  margin-bottom: 22px;
}

#middle .containe .thead {
  overflow: hidden;
  margin-bottom: 63px;
}

#middle .containe .thead > h2 {
  float: left;
  color: #000;
  font-size: 20px;
  width: 143px;
  height: 36px;
  padding-top: 35px;
  text-align: right;
  background: url("../images/logo03.png") no-repeat;
}

#middle .containe .thead .progressbar {
  float: right;
  height: 31px;
  margin-top: 27px;
}

#middle .containe .thead .progressbar li {
  float: left;
  position: relative;
  width: 205px;
  height: 7px;
  background-color: #C5C5C5;
}

#middle .containe .thead .progressbar li > span,
#middle .containe .thead .progressbar li > h5 {
  position: absolute;
  font-size: 14px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

#middle .containe .thead .progressbar li > span {
  width: 31px;
  line-height: 31px;
  height: 31px;
  -webkit-border-radius: 15.5px;
  -moz-border-radius: 15.5px;
  -ms-border-radius: 15.5px;
  -o-border-radius: 15.5px;
  border-radius: 15.5px;
  background-color: #C5C5C5;
  color: #fff;
  font-weight: bold;
  margin: auto;
}

#middle .containe .thead .progressbar li > h5 {
  color: #666;
  top: 26px;
  width: 100%;
  font-weight: normal;
}

#middle .containe .thead .progressbar > li:first-of-type {
  border-radius: 3px 0 0 3px;
}

#middle .containe .thead .progressbar > li:last-of-type {
  border-radius: 0 3px 3px 0;
}

#middle .containe .thead .progressbar .on {
  background-color: #B90101;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

#middle .containe .thead .progressbar .on > span {
  background-color: #B90101;
}

#middle .containe .thead .progressbar .on > h5 {
  color: #B90101;
}

#middle .containe .thead .progressbar .done {
  background-color: #FFDEDE;
}

#middle .containe .thead .progressbar .done > span {
  background-color: #FFDEDE;
}

#middle .containe .thead .progressbar .done > h5 {
  color: #FFDEDE;
}

#middle .containe .main {
  width: 100%;
  background-color: #EEE;
  overflow: hidden;
  padding: 104px 0 184px 0;
  margin-bottom: 134px;
}

#middle .containe .main .state {
  width: 124px;
  height: 103px;
  float: left;
  margin: 0 65px 0 263px;
}

#middle .containe .main .state img {
  width: 100%;
}

#middle .containe .main .pay_info {
  float: left;
  padding-top: 8px;
}

#middle .containe .main .pay_info > h3 {
  color: #1f9032;
  font-size: 36px;
  margin-bottom: 34px;
}

#middle .containe .main .pay_info > span {
  color: #010101;
  font-size: 14px;
  display: block;
  margin-bottom: 10px;
}

#middle .containe .main .pay_info > span > em {
  color: #B90101;
  font-size: 14px;
  margin-right: 16px;
  font-weight: bold;
  font-style: normal;
}

#middle .containe .main .pay_info > span > span {
  color: #000;
}

#middle .containe .main .pay_info > p {
  color: #666;
  font-size: 14px;
  margin-bottom: 30px;
}

#middle .containe .main .pay_info > div {
  overflow: hidden;
  line-height: 33px;
}

#middle .containe .main .pay_info > div > span {
  float: left;
  font-size: 14px;
  color: #666;
}

#middle .containe .main .pay_info > div > a:first-of-type {
  width: 120px;
  height: 33px;
  float: left;
  line-height: 33px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  background: url("../images/btn_bg.png") no-repeat;
  margin: 0 30px;
}

#middle .containe .main .pay_info > div > a:last-of-type {
  color: #1d8298;
  font-size: 14px;
}
