$topFontSize: 12px;
$topFontFamily:SimSun;
$topAndNavColor:#666;
$topAndFooterBgColor:#d2d2d2;
$activeBgColor:#B90101;
$navAndTitleAndSearchFontSize:20px;
$inputColor:#aaa;
$navAndClassifyFontFamily:'Microsoft YaHei';
$navClassifyBgColor:#D5D0C8;
$navClassifyColor:#fdfdfd;
$navClassifyChildAndTitleColor:#040404;
$navClassifyH3FontSize:18px;
$navClassifyLiAndproSpanAndDlAndTimeFontSize:14px;
$proH4AndbottomH4AndDtAndServiceFontSize:16px;
$proBoxBgColor:#DF8487;
$proBottomBgColor:#EEE;
$bottomColor:#d4d4d4;
$telFontFamily:Arial;
$telFontSize:36px;
@mixin border-radius($size) {
    -webkit-border-radius: $size;
    -moz-border-radius: $size;
    -ms-border-radius: $size;
    -o-border-radius: $size;
    border-radius: $size;
}

#middle {
    .section_top {
        overflow: hidden;
        .pro_img {
            width: 473px;
            height: 588px;
            position: relative;
            float: left;
            .img_box {
                width: 100%;
                height: 476px;
                border: 1px solid $topAndFooterBgColor;
                position: relative;
                cursor: crosshair;
                margin-bottom: 24px;
                img {
                    width: 100%;
                    height: 100%;
                    display: block;
                }
                .zoom {
                    background-color: rgba(185, 175, 175, 0.4);
                    position: absolute;
                    top: 0;
                    display: none;
                }
            }
            .bigimg {
                position: absolute;
                border: 1px solid $topAndFooterBgColor;
                top: 0;
                left: 500px;
                display: none;
                overflow: hidden;
                >img {
                    position: absolute;
                }
            }
            .img_wrap {
                width: 100%;
                height: 86px;
                overflow: hidden;
                position: relative;
                ul {
                    width: 412px;
                    margin: 0 auto;
                    overflow: hidden;
                    li {
                        float: left;
                        cursor: pointer;
                        width: 85px;
                        height: 84px;
                        border: 1px solid $topAndFooterBgColor;
                        margin: 0 8px;
                        img {
                            display: block;
                            width: 98%;
                            margin: 0 auto;
                        }
                    }
                    .active {
                        border: 1px solid $activeBgColor;
                    }
                }
                .prev,
                .next {
                    width: 30px;
                    height: 86px;
                    display: block;
                    position: absolute;
                    top: 0;
                    cursor: pointer;
                }
                .prev {
                    background: url(../images/prev_icon.png) no-repeat center;
                }
                .prev:hover {
                    background-image: url(../images/prev_icon_on.png);
                }
                .next {
                    right: 0;
                    background: url(../images/next_icon.png) no-repeat center;
                }
                .next:hover {
                    background-image: url(../images/next_icon_on.png);
                }
            }
        }
        .details {
            width: 697px;
            margin-left: 28px;
            float: left;
            padding-top: 15px;
            >h2 {
                font-size: $navClassifyH3FontSize;
                color: #000;
                margin: 0 0 5px 24px;
            }
            >p {
                color: $activeBgColor;
                font-size: $navClassifyLiAndproSpanAndDlAndTimeFontSize;
                width: 543px;
                line-height: 25px;
                margin-left: 24px;
            }
            .price {
                background-color: #e5e5e5;
                padding: 46px 24px;
                margin: 5px 0 27px 0;
                >p {
                    color: $topAndNavColor;
                    font-size: $navClassifyLiAndproSpanAndDlAndTimeFontSize;
                    >small {
                        font-size: $navClassifyLiAndproSpanAndDlAndTimeFontSize;
                        display: inline-block;
                        width: 78px;
                    }
                }
                p:last-of-type {
                    height: 47px;
                    line-height: 47px;
                    small {
                        vertical-align: top;
                    }
                    span {
                        color: $activeBgColor;
                        font-size: $telFontSize;
                        font-weight: bold;
                        em {
                            font-size: $navClassifyH3FontSize;
                            font-style: normal;
                        }
                    }
                }
            }
            >ul {
                border: {
                    top: 1px solid #E5E5E5;
                    bottom: 1px solid #E5E5E5;
                }
                height:42px;
                width:100%;
                margin-bottom: 15px;
                li {
                    float: left;
                    line-height: 42px;
                    color: $topAndNavColor;
                    font-size: $navClassifyLiAndproSpanAndDlAndTimeFontSize;
                    margin: 0 23px;
                }
                li:first-of-type {
                    margin-left: 85px;
                }
            }
            .color {
                overflow: hidden;
                margin-bottom: 20px;
                >h3 {
                    margin: 14px 0 0 24px;
                    float: left;
                    color: $topAndNavColor;
                    font-size: $navClassifyLiAndproSpanAndDlAndTimeFontSize;
                    vertical-align: middle;
                    width: 75px;
                }
                >ul {
                    float: left;
                    li {
                        float: left;
                        width: 45px;
                        height: 44px;
                        border: 1px solid $topAndFooterBgColor;
                        cursor: pointer;
                        margin: 0 5px;
                        img {
                            display: block;
                            width: 97%;
                            margin: 0 auto;
                        }
                    }
                    .active {
                        border: 1px solid $activeBgColor;
                    }
                    li:hover {
                        border: 1px solid $activeBgColor;
                    }
                }
            }
            .count {
                overflow: hidden;
                margin-bottom: 20px;
                >h3 {
                    margin: 14px 0 0 24px;
                    float: left;
                    color: $topAndNavColor;
                    font-size: $navClassifyLiAndproSpanAndDlAndTimeFontSize;
                    vertical-align: middle;
                    width: 75px;
                }
                input {
                    float: left;
                    line-height: 39px;
                    height: 39px;
                    border: 1px solid $topAndFooterBgColor;
                    border-right: none;
                    text-align: center;
                    width: 54px;
                    margin-left: 5px;
                    color: $topAndNavColor;
                    font-size: $proH4AndbottomH4AndDtAndServiceFontSize;
                }
                span {
                    float: left;
                    width: 16px;
                    height: 39px;
                    .add,
                    .down {
                        text-align: center;
                        line-height: 20px;
                        font-size: $proH4AndbottomH4AndDtAndServiceFontSize;
                        color: $topAndNavColor;
                        background-color: transparent;
                        float: left;
                        width: 16px;
                        height: 20px;
                        border: 1px solid $topAndFooterBgColor;
                        cursor: pointer;
                    }
                    .add {
                        border-bottom: none;
                    }
                    .down {
                        height: 21px;
                    }
                }
            }
            .shopping {
                overflow: hidden;
                margin: 0 0 30px 104px;
                >a {
                    display: block;
                    float: left;
                    height: 51px;
                    line-height: 51px;
                    text-align: center;
                    border: 1px solid $activeBgColor;
                    width: 188px;
                    font-size: $navClassifyH3FontSize;
                    background-color: #FDE1E1;
                    margin-right: 11px;
                    cursor: pointer;
                }
                a:first-of-type {
                    background-color: $activeBgColor;
                    color: #fff;
                }
                .add_love {
                    width: 122px;
                    img {
                        vertical-align: middle;
                        margin-right: 9px;
                    }
                }
            }
            .service {
                overflow: hidden;
                margin-bottom: 20px;
                >h3 {
                    margin: 0 0 0 24px;
                    float: left;
                    color: $topAndNavColor;
                    font-size: $navClassifyLiAndproSpanAndDlAndTimeFontSize;
                    vertical-align: middle;
                    width: 75px;
                }
                ul {
                    overflow: hidden;
                    width: 465px;
                    li {
                        float: left;
                        color: $topAndNavColor;
                        font-size: $navClassifyLiAndproSpanAndDlAndTimeFontSize;
                        width: 113px;
                        margin-bottom: 8px;
                    }
                }
            }
        }
    }
    .shop_area {
        height: 45px;
        width: 100%;
        background-color: #000;
        .shop_search {
            width: 151px;
            height: 24px;
            margin: 10px 70px 0 51px;
            float: left;
            input {
                width: 117px;
                height: 22px;
                border: 1px solid #B5B5B5;
                border-right: none;
                float: left;
                font-size: $navClassifyLiAndproSpanAndDlAndTimeFontSize;
                color: $topAndNavColor;
                padding-left: 5px;
            }
            button {
                float: left;
                cursor: pointer;
                img {
                    display: block;
                }
            }
        }
        >ul {
            li {
                float: left;
                height: 45px;
                line-height: 45px;
                margin-right: 10px;
                a {
                    display: block;
                    height: 100%;
                    color: #fff;
                    text-align: center;
                    font-size: $proH4AndbottomH4AndDtAndServiceFontSize;
                    padding: 0 32px;
                }
            }
            li:hover {
                a {
                    background-color: $activeBgColor;
                }
            }
            .active {
                a {
                    background-color: $activeBgColor;
                }
            }
        }
    }
    .section_bottom {
        overflow: hidden;
        padding-bottom: 30px;
        .sidebar {
            background-color: #F7F6F6;
            width: 252px;
            padding-top: 27px;
            float: left; // margin-right: 10px;
            .local_search {
                width: 252px;
                >h3 {
                    background-color: #000;
                    height: 55px;
                    line-height: 55px;
                    padding-left: 6px;
                    width: 246px;
                    color: #fff;
                    font-size: $proH4AndbottomH4AndDtAndServiceFontSize;
                }
                form {
                    border: 1px solid #B5B5B5;
                    border-top: none;
                    width: 250px;
                    padding: 14px 0 23px 0;
                    overflow: hidden;
                    text-align: center;
                    background-color: #fff;
                    >label {
                        color: $topAndNavColor;
                        font-size: $navClassifyLiAndproSpanAndDlAndTimeFontSize;
                        float: left;
                        margin-left: 28px;
                        line-height: 23px;
                    }
                    >input {
                        height: 21px;
                        border: 1px solid $proBottomBgColor;
                        float: left;
                        margin-bottom: 13px;
                        color: $topAndNavColor;
                        padding-left: 5px;
                    }
                    label:last-of-type {
                        margin: 0 6px;
                    }
                    #keyword {
                        width: 130px;
                        clear: right;
                    }
                    #min,
                    #max {
                        width: 48px;
                    }
                    #min {
                        margin-left: 2px;
                    }
                    input:last-of-type {
                        height: auto;
                        border: none;
                        float: none;
                        margin: auto;
                        padding: 0;
                        color: #000;
                        font-size: $navClassifyLiAndproSpanAndDlAndTimeFontSize;
                        display: block;
                        clear: both;
                        background-color: transparent;
                        cursor: pointer;
                    }
                }
            }
            .custom_service {
                width: 252px;
                margin-top: 56px;
                >h3 {
                    background-color: #000;
                    height: 55px;
                    line-height: 55px;
                    padding-left: 6px;
                    width: 246px;
                    color: #fff;
                    font-size: $proH4AndbottomH4AndDtAndServiceFontSize;
                }
                >div {
                    border: 1px solid #B5B5B5;
                    border-top: none;
                    width: 250px;
                    padding: 12px 0 20px 0;
                    font-size: $navClassifyLiAndproSpanAndDlAndTimeFontSize;
                    color: $topAndNavColor;
                    background-color: #fff;
                    >h5 {
                        margin-left: 5px;
                        font-size: $navClassifyLiAndproSpanAndDlAndTimeFontSize;
                        color: $topAndNavColor;
                    }
                    >span {
                        display: block;
                        margin-left: 33px;
                        margin-top: 12px;
                    }
                    span:last-of-type {
                        margin-top: 3px;
                    }
                }
            }
            .hot_ad {
                width: 252px;
                // margin-top: 56px;
                >h3 {
                    background-color: #000;
                    height: 55px;
                    line-height: 55px;
                    padding-left: 6px;
                    width: 246px;
                    color: #fff;
                    font-size: $proH4AndbottomH4AndDtAndServiceFontSize;
                }
                ul {
                    border: 1px solid #B5B5B5;
                    border-top: none;
                    background-color: #fff;
                    padding-top: 45px;
                    li {
                        margin-bottom: 103px;
                        a {
                            display: block;
                            width: 100%;
                            img {
                                display: block;
                                width: 230px;
                                margin: 0 auto;
                            }
                        }
                        p {
                            font-size: $navClassifyLiAndproSpanAndDlAndTimeFontSize;
                            color: $topAndNavColor;
                            height: 20px;
                            line-height: 20px;
                            width: 85%;
                            margin: 33px 0 0 12px;
                            span {
                                color: $activeBgColor;
                                font-weight: bold;
                                display: block;
                                float: right;
                                line-height: 20px;
                            }
                            em {
                                color: #fff;
                                background-color: $activeBgColor;
                                @include border-radius(20px);
                                display: block;
                                font-style: normal;
                                width: 20px;
                                height: 20px;
                                text-align: center;
                                float: left;
                                margin-right: 3px;
                            }
                        }
                    }
                }
            }
        } // 商品评价
        .com_main {
            overflow: hidden;
            width: 937px;
            padding-top: 27px;
            padding-left: 10px;
            display: none;
            margin-bottom: 58px;
            >h3 {
                height: 49px;
                width: 906px;
                padding-left: 31px;
                color: $navClassifyChildAndTitleColor;
                font-size: $proH4AndbottomH4AndDtAndServiceFontSize;
                line-height: 49px;
                background-color: #E5E5E5;
            }
            .summary {
                width: 100%;
                overflow: hidden;
                .grade {
                    border: 1px solid #aaa;
                    width: 88px;
                    height: 134px;
                    width: 133px;
                    margin-right: 11px;
                    float: left;
                    text-align: center;
                    >h5 {
                        font-weight: normal;
                        font-size: $navClassifyLiAndproSpanAndDlAndTimeFontSize;
                        color: #333;
                        margin-top: 38px;
                    }
                    >span {
                        font-weight: bold;
                        font-size: 40px;
                        color: $activeBgColor;
                        display: block;
                        i {
                            font-style: normal;
                            font-size: 24px;
                            font-weight: normal;
                        }
                    }
                }
                >ul {
                    overflow: hidden;
                    float: left;
                    width: 789px;
                    margin-top: 19px;
                    li {
                        float: left;
                        margin: 5px 5px 5px 0;
                        border: 1px solid $topAndFooterBgColor;
                        height: 20px;
                        line-height: 20px;
                        >a {
                            padding: 0 10px;
                            color: #999;
                            font-size: $navClassifyLiAndproSpanAndDlAndTimeFontSize;
                        }
                    }
                }
            }
            .sort {
                width: calc(100% - 28px);
                height: 35px;
                padding: 0 14px;
                background-color: #F2F2F2;
                >li {
                    height: 35px;
                    float: left;
                    margin: 0 21px;
                    a {
                        line-height: 35px;
                        display: block;
                        height: 100%;
                        color: $topAndNavColor;
                        font-size: $navClassifyLiAndproSpanAndDlAndTimeFontSize;
                    }
                }
                >li:last-of-type {
                    float: right;
                    position: relative;
                    border: 1px solid #F2F2F2;
                    height: 33px;
                    >a {
                        line-height: 33px;
                    }
                    >ul {
                        display: none;
                        position: absolute;
                        border: 1px solid #999;
                        border-top: none;
                        left: -1px;
                        z-index: 99;
                        >li {
                            cursor: pointer;
                            min-width: 73px;
                            height: 35px;
                            line-height: 35px;
                            color: $topAndNavColor;
                            font-size: $navClassifyLiAndproSpanAndDlAndTimeFontSize;
                            background-color: #fff;
                        }
                        >li:hover {
                            background-color: #F2F2F2;
                        }
                    }
                }
                li.on {
                    background-color: #fff;
                    border: 1px solid #999;
                    border-bottom-color: #fff;
                }
            }
            .estimate {
                width: 100%;
                >li {
                    width: 100%;
                    border-bottom: 1px solid #DCDCDC;
                    margin-bottom: 6px;
                    overflow: hidden;
                    .user_info {
                        float: left;
                        margin-left: 23px;
                        // a {
                        //     font-size: $navClassifyLiAndproSpanAndDlAndTimeFontSize;
                        //     overflow: hidden;
                        //     display: block;
                        //     line-height: 35px;
                        //     margin-bottom: 4px;
                        //     img {
                        //         display: block;
                        //         width: 35px;
                        //         height: 35px;
                        //         @include border-radius(35px);
                        //         float: left;
                        //         margin-right: 5px;
                        //     }
                        // }
                        >img {
                            display: block;
                            width: 35px;
                            height: 35px;
                            @include border-radius(35px);
                            float: left;
                            margin-right: 5px;
                        }
                        >span {
                            font-size: $navClassifyLiAndproSpanAndDlAndTimeFontSize;
                            overflow: hidden;
                            display: block;
                            line-height: 35px;
                            margin-bottom: 4px;
                            color: #666;
                        }
                        p {
                            font-size: $navClassifyLiAndproSpanAndDlAndTimeFontSize;
                            color: $topAndNavColor;
                        }
                    }
                    .estimate_main {
                        float: right;
                        width: 725px;
                        margin-top: 8px;
                        padding-bottom: 7px;
                        .ori_estimate {
                            position: relative;
                            >ul {
                                height: 18px;
                                margin-bottom: 9px;
                                li {
                                    float: left;
                                    width: 18px;
                                    height: 18px;
                                    background-image: url(../images/hx_icon.png)
                                }
                            }
                            >p {
                                color: #030303;
                                font-size: $navClassifyLiAndproSpanAndDlAndTimeFontSize;
                                line-height: 30px;
                            }
                            >span {
                                color: $topAndNavColor;
                                font-size: $navClassifyLiAndproSpanAndDlAndTimeFontSize;
                                line-height: 38px;
                            }
                            .good,
                            .msg {
                                position: absolute;
                                cursor: pointer;
                                bottom: 7px;
                                line-height: 25px;
                                color: $topAndNavColor;
                                font-size: $navClassifyLiAndproSpanAndDlAndTimeFontSize;
                                img {
                                    vertical-align: top;
                                    margin-right: 5px;
                                }
                            }
                            .good {
                                left: 612px;
                            }
                            .msg {
                                left: 671px;
                            }
                        }
                        .add_estimate {
                            border-top: 1px solid #DCDCDC;
                            padding: 8px 0 12px 0;
                            >h4 {
                                color: $topAndNavColor;
                                font-size: $navClassifyLiAndproSpanAndDlAndTimeFontSize;
                                font-weight: normal;
                                line-height: 30px;
                            }
                            >p {
                                color: #030303;
                                font-size: $navClassifyLiAndproSpanAndDlAndTimeFontSize;
                                line-height: 30px;
                            }
                        }
                    }
                }
                >li:first-of-type {
                    padding-top: 20px;
                }
            }
            .page {
                width: 100%;
                margin-top: 35px;
                text-align: center;
                ul {
                    display: inline-block;
                    li {
                        height: 17px;
                        float: left;
                        margin: 0 6px;
                    }
                    a {
                        display: block;
                        line-height: 17px;
                        text-align: center;
                        padding: 0 5px;
                        font-size: $navClassifyLiAndproSpanAndDlAndTimeFontSize;
                    }
                    .on {
                        a {
                            background-color: $activeBgColor;
                            color: #fff;
                        }
                    }
                    li:hover {
                        a {
                            background-color: $activeBgColor;
                            color: #fff;
                        }
                    }
                    li:nth-last-of-type(2) :hover {
                        background-color: transparent;
                        color: $topAndNavColor;
                    }
                }
            }
        } //商品详情
        .pro_main {
            width: 946px;
            float: left;
            margin-top: 26px;
            .details {
                width: calc(100% - 40px);
                padding: 0 0 25px 40px;
                background-color: $proBottomBgColor;
                font-size: $navClassifyLiAndproSpanAndDlAndTimeFontSize;
                color: $topAndNavColor;
                >h4 {
                    font-weight: normal;
                    height: 80px;
                    line-height: 80px;
                }
                >h5 {
                    line-height: 25px;
                }
                >ul {
                    width: 100%;
                    overflow: hidden;
                    li {
                        line-height: 25px;
                        width: 268px;
                        float: left;
                        margin-right: 40px;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                    }
                    li:nth-of-type(3n-1) {
                        width: 155px;
                    }
                    li:nth-of-type(3n) {
                        width: 355px;
                        margin-right: 0;
                    }
                }
            }
            .pro_img {
                width: 928px;
                margin: 0 auto;
                img {
                    width: 100%;
                    display: block;
                }
            }
            .article {
                width: calc(926px - 33px);
                padding-bottom: 7px;
                border: 1px solid #aaa;
                margin: 15px auto 6px auto;
                position: relative;
                padding-left: 33px;
                >h5 {
                    color: $activeBgColor;
                    font-size: $proH4AndbottomH4AndDtAndServiceFontSize;
                    margin-top: 10px;
                    line-height: 30px;
                }
                >p {
                    line-height: 26px;
                    width: 94%;
                    color: $topAndNavColor;
                    font-size: $navClassifyLiAndproSpanAndDlAndTimeFontSize;
                }
            }
            .article::after {
                display: block;
                content: '';
                position: absolute;
                width: 20px;
                height: 127px;
                left: -1px;
                top: -1px;
                background-color: $activeBgColor;
            }
            >span {
                display: block;
                color: $topAndNavColor;
                font-size: $navClassifyLiAndproSpanAndDlAndTimeFontSize;
                padding-left: 42px;
            }
        }
    }
}