// @import './normalize.css';
$topFontSize: 12px;
$topFontFamily:SimSun;
$topAndNavColor:#666;
$topAndFooterBgColor:#d2d2d2;
$activeBgColor:#B90101;
$navAndTitleAndSearchFontSize:20px;
$inputColor:#aaa;
$navAndClassifyFontFamily:'Microsoft YaHei';
$navClassifyBgColor:#D5D0C8;
$navClassifyColor:#fdfdfd;
$navClassifyChildAndTitleColor:#040404;
$navClassifyH3FontSize:18px;
$navClassifyLiAndproSpanAndDlAndTimeFontSize:14px;
$proH4AndbottomH4AndDtAndServiceFontSize:16px;
$proBoxBgColor:#DF8487;
$proBottomBgColor:#EEE;
$bottomColor:#d4d4d4;
$telFontFamily:Arial;
$telFontSize:36px;
* {
    margin: 0;
    padding: 0;
    font-family: $navAndClassifyFontFamily;
}

input,
a,
button,
img {
    outline: none;
    border: none;
}

.clearfloat {
    clear: both;
    content: "";
}

.containe {
    width: 1200px;
    margin: 0 auto;
}

body,
html {
    background-color: #000;
    width: 100%;
    min-width: 1200px;
}

a {
    text-decoration: none;
    color: $topAndNavColor;
    font-size: $topFontSize;
}

li {
    list-style: none;
}

@mixin border-radius($size) {
    -webkit-border-radius: $size;
    -moz-border-radius: $size;
    -ms-border-radius: $size;
    -o-border-radius: $size;
    border-radius: $size;
}

//header
#header {
    width: 100%;
    background-color: #000;
    //top
    .top {
        width: 100%;
        height: 30px;
        background-color: $topAndFooterBgColor;
        color: $topAndNavColor;
        .left {
            float: left;
            height: 30px;
            >a {
                line-height: 30px;
                margin-right: 17px;
            }
            >span {
                margin-left: 16px;
            }
        }
        .shop {
            float: right;
            overflow: hidden;
            height: 30px;
            li {
                float: left;
                height: 30px;
                margin: 0 9px;
                a {
                    line-height: 30px;
                }
                sup {
                    background-color: #DD9931;
                    @include border-radius(10px);
                    display: block;
                    float: right;
                    text-align: center;
                    min-width: 13px;
                    padding: 0 2px;
                }
            }
            li:nth-of-type(3),
            li:nth-of-type(5) {
                line-height: 30px;
            }
        }
        img {
            display: block;
            float: left;
            margin: 7px 5px 0 0;
        }
        a {
            font-family: $topFontFamily;
        }
    }
    //top end
    //in_tbody
    .in_tbody {
        width: 100%;
        height: 160px;
        overflow: hidden;
        .logo {
            width: 224px;
            height: 141px;
            float: left;
            margin-right: 90px;
        }
        .containe>div:nth-of-type(2) {
            float: left;
            width: 405px;
            padding-top: 31px;
        }
        .search {
            height: 33px;
            width: 397px;
            background-color: $activeBgColor;
            margin: 5px 0 0 5px;
            input {
                height: 26px;
                width: 317px;
                color: #B0B0B0;
                margin: 3px 0 0 3px;
                display: block;
                float: left;
                padding-left: 5px;
            }
            button {
                background-color: $activeBgColor;
                color: #fff;
                font-size: $navAndTitleAndSearchFontSize;
                line-height: 33px;
                height: 33px;
                width: 72px;
                cursor: pointer;
                display: block;
                float: left;
            }
        }
        .header_ad {
            float: right;
            a {
                display: block;
                float: left;
            }
            a:first-of-type {
                margin-top: -20px;
            }
            a:last-of-type {
                margin-top: 30px;
            }
        }
    }
    //in_tbody end
    //tbody
    .tbody {
        width: 100%;
        height: 160px;
        overflow: hidden;
        .logo {
            width: 224px;
            height: 141px;
            float: left;
        }
        h1 {
            float: left;
            width: 395px;
            height: 73px;
            margin: 46px 133px 0 46px;
        }
        .containe>div:nth-of-type(2) {
            float: left;
            width: 397px;
            height: 44px;
            margin-top: 58px;
        }
        .search {
            height: 44px;
            width: 397px;
            background-color: $activeBgColor;
            input {
                height: 39px;
                width: 317px;
                color: #B0B0B0;
                margin: 3px 0 0 3px;
                display: block;
                float: left;
                padding-left: 5px;
            }
            button {
                background-color: $activeBgColor;
                color: #fff;
                font-size: $navAndTitleAndSearchFontSize;
                line-height: 44px;
                height: 44px;
                width: 72px;
                cursor: pointer;
                display: block;
                float: left;
            }
        }
    }
    //tbody end
    //nav
    .nav {
        width: 100%;
        height: 60px;
        background-color: $proBottomBgColor;
        font-family: $navAndClassifyFontFamily;
        .active {
            background-color: $activeBgColor;
            a {
                color: $navClassifyColor;
            }
        }
        .menu {
            position: relative;
            float: left;
            visibility: hidden;
            .active {
                background-color: $activeBgColor;
                color: $navClassifyColor;
            }
            h2 {
                height: 60px;
                width: 216px;
                line-height: 60px;
                text-align: center;
                font-weight: normal;
                font-size: $navAndTitleAndSearchFontSize;
                cursor: pointer;
                color: $topAndNavColor;
            }
            h2:hover {
                background-color: $activeBgColor;
                color: $navClassifyColor;
            }
            .submenu {
                width: 216px;
                padding-bottom: 23px;
                position: absolute;
                background-color: rgba(214, 208, 200, 0.91);
                z-index: 10;
                display: none;
                a,
                h3 {
                    color: $navClassifyChildAndTitleColor;
                    font-weight: normal;
                    font-size: $navClassifyLiAndproSpanAndDlAndTimeFontSize;
                }
                a:hover{
                    color:$activeBgColor;
                }
                >li {
                    margin: 26px 0 26px 14px;
                    h3 {
                        >a{
                            font-size: $navClassifyH3FontSize;
                            color: #040404;
                        }
                    }
                    ul {
                        overflow: hidden;
                        li {
                            float: left;
                            margin-top: 7px;
                            width: 64px;
                        }
                    }
                }
                >li:nth-of-type(2),
                >li:nth-of-type(4),
                >li:nth-of-type(6) {
                    margin-top: 0;
                    margin-bottom: 0;
                    i {
                        display: block;
                        height: 2px;
                        width: 162px;
                        margin-left: 13px;
                        border-top: 1px dashed $navClassifyChildAndTitleColor;
                    }
                }
            }
        }
        .subnav {
            float: left;
            height: 60px;
            margin-left: 55px - 38px;
            li {
                float: left;
                height: 60px;
                line-height: 60px;
                a {
                    font-size: $navAndTitleAndSearchFontSize;
                    display: block;
                    height: 100%;
                    padding: 0 39px 0 39px;
                }
            }
            li:hover {
                @extend .active;
                a {
                    color: $navClassifyColor;
                }
            }
        }
    }
    //nav end
    // 登录注册页头部css
    .lore_tbody {
        width: 100%;
        height: 144px;
        background-color: #000;
        .containe {
            width: 892px;
            margin: 0 auto;
            overflow: hidden;
            .logo {
                width: 187px;
                height: 124px;
                float: left;
                margin-right: 18px;
                img {
                    width: 100%;
                }
            }
            .title {
                float: left;
                overflow: hidden;
                margin-top: 50px;
                >h1 {
                    float: left;
                    width: 117px;
                    text-align: center;
                    color: #fff;
                    font-size: 21px;
                    >span:last-of-type {
                        font-size: 12px;
                    }
                }
                >h2 {
                    float: left;
                    border-left: 1px solid #fff;
                    padding-left: 4px;
                    font-size: 38.5px;
                    color: #fff;
                    margin-left: 8px;
                    margin-top: 12px;
                    line-height: 37px;
                }
            }
            >p {
                clear: both;
                text-align: right;
                color: #fff;
                font-size: $topFontSize;
                vertical-align: middle;
                a {
                    font-size: $topFontSize;
                    color: #fff;
                }
            }
        }
    }
    // 登录注册页头部css end
}

//header end
//middle
#middle {
    background-color: #fff;
    overflow: hidden;
    .crumbs {
        @extend .containe;
        overflow: hidden;
        margin: 15px auto 30px auto;
        li {
            float: left;
            a {
                color: $topAndNavColor;
                font-size: $navClassifyLiAndproSpanAndDlAndTimeFontSize;
            }
        }
        li:last-of-type {
            width: 135px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            color: $activeBgColor;
            a {
                color: $activeBgColor;
            }
        }
    }
    // 猜你喜欢
    .you_like {
        text-align: center;
        margin: 35px 0 60px 0;
        >h3 {
            height: 38px;
            line-height: 38px;
            padding-left: 18px;
            background-color: $proBottomBgColor;
            font-size: $proH4AndbottomH4AndDtAndServiceFontSize;
            color: $topAndNavColor;
            text-align: left;
        }
        >ul {
            overflow: hidden;
            display: inline-block;
            margin-top: 20px;
            li {
                float: left;
                margin: 0 10px;
                cursor: pointer;
                a {
                    display: block;
                    img {
                        display: block;
                    }
                }
                span {
                    display: block;
                    text-align: center;
                    font-size: 24px;
                    color: #a40a0a;
                    margin-top: 25px;
                }
            }
            li:first-of-type {
                margin-left: 0px;
            }
            li:last-of-type {
                margin-right: 0px;
            }
        }
    }
}

//middle end
//footer
#footer {
    background-color: #000;
    width: 100%;
    height: 155px;
    .footer_head {
        @extend .containe;
        height: 72px;
        border-bottom: 1px solid $topAndFooterBgColor;
        margin-bottom: 32px;
        li {
            float: left;
            height: 72px;
            width: 217px;
            margin-left: 21px;
            a {
                color: $bottomColor;
            }
            * {
                float: left;
            }
            img {
                margin-top: 13px;
                margin-right: 8px;
            }
            h4 {
                margin-top: 15px;
                margin-bottom: 3px;
                a {
                    font-size: $proH4AndbottomH4AndDtAndServiceFontSize;
                }
            }
            span {
                a {
                    font-size: $navClassifyLiAndproSpanAndDlAndTimeFontSize;
                }
            }
        }
        li:last-of-type {
            width: 200px;
        }
    }
    .footer_main {
        @extend .containe;
        overflow: hidden;
        height: 190px;
        dt,
        a,
        span,
        small {
            color: $bottomColor;
        }
        dl {
            float: left;
            margin: 0 77px 0 22px;
        }
        dl:last-of-type {
            margin-right: 0;
        }
        dt {
            font-size: $proH4AndbottomH4AndDtAndServiceFontSize;
            font-weight: bold;
        }
        dd {
            margin: 4px 0;
        }
        a {
            font-size: $navClassifyLiAndproSpanAndDlAndTimeFontSize;
        }
        >div {
            float: right;
            margin-right: 73px;
            width: 244px;
            * {
                display: block;
            }
            .tel {
                font-size: $telFontSize;
            }
            small {
                font-size: $navClassifyLiAndproSpanAndDlAndTimeFontSize;
                text-align: center;
                margin: 23px auto;
            }
            a {
                width: 224px;
                height: 35px;
                border: 2px solid $bottomColor;
                font-size: $proH4AndbottomH4AndDtAndServiceFontSize;
                font-weight: bold;
                line-height: 35px;
                margin: 0 auto;
                img {
                    float: left;
                    margin: 7px 14px 0 31px;
                }
            }
        }
    }
    .copyright {
        width: 100%;
        height: 50px;
        background-color: $topAndFooterBgColor;
        p {
            line-height: 50px;
            text-align: center;
            font-family: $topFontFamily;
            font-size: $navClassifyLiAndproSpanAndDlAndTimeFontSize;
            color: #010101;
        }
    }
}

//footer end