* {
  margin: 0;
  padding: 0;
  font-family: "Microsoft YaHei";
}

input,
a,
button,
img {
  outline: none;
  border: none;
}

.clearfloat {
  clear: both;
  content: "";
}

.containe, #middle .crumbs, #footer .footer_head, #footer .footer_main {
  width: 1200px;
  margin: 0 auto;
}

body,
html {
  background-color: #000;
  width: 100%;
  min-width: 1200px;
}

a {
  text-decoration: none;
  color: #666;
  font-size: 12px;
}

li {
  list-style: none;
}

#header {
  width: 100%;
  background-color: #000;
}

#header .top {
  width: 100%;
  height: 30px;
  background-color: #d2d2d2;
  color: #666;
}

#header .top .left {
  float: left;
  height: 30px;
}

#header .top .left > a {
  line-height: 30px;
  margin-right: 17px;
}

#header .top .left > span {
  margin-left: 16px;
}

#header .top .shop {
  float: right;
  overflow: hidden;
  height: 30px;
}

#header .top .shop li {
  float: left;
  height: 30px;
  margin: 0 9px;
}

#header .top .shop li a {
  line-height: 30px;
}

#header .top .shop li sup {
  background-color: #DD9931;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  display: block;
  float: right;
  text-align: center;
  min-width: 13px;
  padding: 0 2px;
}

#header .top .shop li:nth-of-type(3),
#header .top .shop li:nth-of-type(5) {
  line-height: 30px;
}

#header .top img {
  display: block;
  float: left;
  margin: 7px 5px 0 0;
}

#header .top a {
  font-family: SimSun;
}

#header .in_tbody {
  width: 100%;
  height: 160px;
  overflow: hidden;
}

#header .in_tbody .logo {
  width: 224px;
  height: 141px;
  float: left;
  margin-right: 90px;
}

#header .in_tbody .containe > div:nth-of-type(2), #header .in_tbody #middle .crumbs > div:nth-of-type(2), #middle #header .in_tbody .crumbs > div:nth-of-type(2), #header .in_tbody #footer .footer_head > div:nth-of-type(2), #footer #header .in_tbody .footer_head > div:nth-of-type(2), #header .in_tbody #footer .footer_main > div:nth-of-type(2), #footer #header .in_tbody .footer_main > div:nth-of-type(2) {
  float: left;
  width: 405px;
  padding-top: 31px;
}

#header .in_tbody .search {
  height: 33px;
  width: 397px;
  background-color: #B90101;
  margin: 5px 0 0 5px;
}

#header .in_tbody .search input {
  height: 26px;
  width: 317px;
  color: #B0B0B0;
  margin: 3px 0 0 3px;
  display: block;
  float: left;
  padding-left: 5px;
}

#header .in_tbody .search button {
  background-color: #B90101;
  color: #fff;
  font-size: 20px;
  line-height: 33px;
  height: 33px;
  width: 72px;
  cursor: pointer;
  display: block;
  float: left;
}

#header .in_tbody .header_ad {
  float: right;
}

#header .in_tbody .header_ad a {
  display: block;
  float: left;
}

#header .in_tbody .header_ad a:first-of-type {
  margin-top: -20px;
}

#header .in_tbody .header_ad a:last-of-type {
  margin-top: 30px;
}

#header .tbody {
  width: 100%;
  height: 160px;
  overflow: hidden;
}

#header .tbody .logo {
  width: 224px;
  height: 141px;
  float: left;
}

#header .tbody h1 {
  float: left;
  width: 395px;
  height: 73px;
  margin: 46px 133px 0 46px;
}

#header .tbody .containe > div:nth-of-type(2), #header .tbody #middle .crumbs > div:nth-of-type(2), #middle #header .tbody .crumbs > div:nth-of-type(2), #header .tbody #footer .footer_head > div:nth-of-type(2), #footer #header .tbody .footer_head > div:nth-of-type(2), #header .tbody #footer .footer_main > div:nth-of-type(2), #footer #header .tbody .footer_main > div:nth-of-type(2) {
  float: left;
  width: 397px;
  height: 44px;
  margin-top: 58px;
}

#header .tbody .search {
  height: 44px;
  width: 397px;
  background-color: #B90101;
}

#header .tbody .search input {
  height: 39px;
  width: 317px;
  color: #B0B0B0;
  margin: 3px 0 0 3px;
  display: block;
  float: left;
  padding-left: 5px;
}

#header .tbody .search button {
  background-color: #B90101;
  color: #fff;
  font-size: 20px;
  line-height: 44px;
  height: 44px;
  width: 72px;
  cursor: pointer;
  display: block;
  float: left;
}

#header .nav {
  width: 100%;
  height: 60px;
  background-color: #EEE;
  font-family: "Microsoft YaHei";
}

#header .nav .active, #header .nav .subnav li:hover {
  background-color: #B90101;
}

#header .nav .active a, #header .nav .subnav li:hover a {
  color: #fdfdfd;
}

#header .nav .menu {
  position: relative;
  float: left;
  visibility: hidden;
}

#header .nav .menu .active, #header .nav .menu .subnav li:hover, #header .nav .subnav .menu li:hover {
  background-color: #B90101;
  color: #fdfdfd;
}

#header .nav .menu h2 {
  height: 60px;
  width: 216px;
  line-height: 60px;
  text-align: center;
  font-weight: normal;
  font-size: 20px;
  cursor: pointer;
  color: #666;
}

#header .nav .menu h2:hover {
  background-color: #B90101;
  color: #fdfdfd;
}

#header .nav .menu .submenu {
  width: 216px;
  padding-bottom: 23px;
  position: absolute;
  background-color: rgba(214, 208, 200, 0.91);
  z-index: 10;
  display: none;
}

#header .nav .menu .submenu a,
#header .nav .menu .submenu h3 {
  color: #040404;
  font-weight: normal;
  font-size: 14px;
}

#header .nav .menu .submenu a:hover {
  color: #B90101;
}

#header .nav .menu .submenu > li {
  margin: 26px 0 26px 14px;
}

#header .nav .menu .submenu > li h3 > a {
  font-size: 18px;
  color: #040404;
}

#header .nav .menu .submenu > li ul {
  overflow: hidden;
}

#header .nav .menu .submenu > li ul li {
  float: left;
  margin-top: 7px;
  width: 64px;
}

#header .nav .menu .submenu > li:nth-of-type(2),
#header .nav .menu .submenu > li:nth-of-type(4),
#header .nav .menu .submenu > li:nth-of-type(6) {
  margin-top: 0;
  margin-bottom: 0;
}

#header .nav .menu .submenu > li:nth-of-type(2) i,
#header .nav .menu .submenu > li:nth-of-type(4) i,
#header .nav .menu .submenu > li:nth-of-type(6) i {
  display: block;
  height: 2px;
  width: 162px;
  margin-left: 13px;
  border-top: 1px dashed #040404;
}

#header .nav .subnav {
  float: left;
  height: 60px;
  margin-left: 17px;
}

#header .nav .subnav li {
  float: left;
  height: 60px;
  line-height: 60px;
}

#header .nav .subnav li a {
  font-size: 20px;
  display: block;
  height: 100%;
  padding: 0 39px 0 39px;
}

#header .nav .subnav li:hover a {
  color: #fdfdfd;
}

#header .lore_tbody {
  width: 100%;
  height: 144px;
  background-color: #000;
}

#header .lore_tbody .containe, #header .lore_tbody #middle .crumbs, #middle #header .lore_tbody .crumbs, #header .lore_tbody #footer .footer_head, #footer #header .lore_tbody .footer_head, #header .lore_tbody #footer .footer_main, #footer #header .lore_tbody .footer_main {
  width: 892px;
  margin: 0 auto;
  overflow: hidden;
}

#header .lore_tbody .containe .logo, #header .lore_tbody #middle .crumbs .logo, #middle #header .lore_tbody .crumbs .logo, #header .lore_tbody #footer .footer_head .logo, #footer #header .lore_tbody .footer_head .logo, #header .lore_tbody #footer .footer_main .logo, #footer #header .lore_tbody .footer_main .logo {
  width: 187px;
  height: 124px;
  float: left;
  margin-right: 18px;
}

#header .lore_tbody .containe .logo img, #header .lore_tbody #middle .crumbs .logo img, #middle #header .lore_tbody .crumbs .logo img, #header .lore_tbody #footer .footer_head .logo img, #footer #header .lore_tbody .footer_head .logo img, #header .lore_tbody #footer .footer_main .logo img, #footer #header .lore_tbody .footer_main .logo img {
  width: 100%;
}

#header .lore_tbody .containe .title, #header .lore_tbody #middle .crumbs .title, #middle #header .lore_tbody .crumbs .title, #header .lore_tbody #footer .footer_head .title, #footer #header .lore_tbody .footer_head .title, #header .lore_tbody #footer .footer_main .title, #footer #header .lore_tbody .footer_main .title {
  float: left;
  overflow: hidden;
  margin-top: 50px;
}

#header .lore_tbody .containe .title > h1, #header .lore_tbody #middle .crumbs .title > h1, #middle #header .lore_tbody .crumbs .title > h1, #header .lore_tbody #footer .footer_head .title > h1, #footer #header .lore_tbody .footer_head .title > h1, #header .lore_tbody #footer .footer_main .title > h1, #footer #header .lore_tbody .footer_main .title > h1 {
  float: left;
  width: 117px;
  text-align: center;
  color: #fff;
  font-size: 21px;
}

#header .lore_tbody .containe .title > h1 > span:last-of-type, #header .lore_tbody #middle .crumbs .title > h1 > span:last-of-type, #middle #header .lore_tbody .crumbs .title > h1 > span:last-of-type, #header .lore_tbody #footer .footer_head .title > h1 > span:last-of-type, #footer #header .lore_tbody .footer_head .title > h1 > span:last-of-type, #header .lore_tbody #footer .footer_main .title > h1 > span:last-of-type, #footer #header .lore_tbody .footer_main .title > h1 > span:last-of-type {
  font-size: 12px;
}

#header .lore_tbody .containe .title > h2, #header .lore_tbody #middle .crumbs .title > h2, #middle #header .lore_tbody .crumbs .title > h2, #header .lore_tbody #footer .footer_head .title > h2, #footer #header .lore_tbody .footer_head .title > h2, #header .lore_tbody #footer .footer_main .title > h2, #footer #header .lore_tbody .footer_main .title > h2 {
  float: left;
  border-left: 1px solid #fff;
  padding-left: 4px;
  font-size: 38.5px;
  color: #fff;
  margin-left: 8px;
  margin-top: 12px;
  line-height: 37px;
}

#header .lore_tbody .containe > p, #header .lore_tbody #middle .crumbs > p, #middle #header .lore_tbody .crumbs > p, #header .lore_tbody #footer .footer_head > p, #footer #header .lore_tbody .footer_head > p, #header .lore_tbody #footer .footer_main > p, #footer #header .lore_tbody .footer_main > p {
  clear: both;
  text-align: right;
  color: #fff;
  font-size: 12px;
  vertical-align: middle;
}

#header .lore_tbody .containe > p a, #header .lore_tbody #middle .crumbs > p a, #middle #header .lore_tbody .crumbs > p a, #header .lore_tbody #footer .footer_head > p a, #footer #header .lore_tbody .footer_head > p a, #header .lore_tbody #footer .footer_main > p a, #footer #header .lore_tbody .footer_main > p a {
  font-size: 12px;
  color: #fff;
}

#middle {
  background-color: #fff;
  overflow: hidden;
}

#middle .crumbs {
  overflow: hidden;
  margin: 15px auto 30px auto;
}

#middle .crumbs li {
  float: left;
}

#middle .crumbs li a {
  color: #666;
  font-size: 14px;
}

#middle .crumbs li:last-of-type {
  width: 135px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #B90101;
}

#middle .crumbs li:last-of-type a {
  color: #B90101;
}

#middle .you_like {
  text-align: center;
  margin: 35px 0 60px 0;
}

#middle .you_like > h3 {
  height: 38px;
  line-height: 38px;
  padding-left: 18px;
  background-color: #EEE;
  font-size: 16px;
  color: #666;
  text-align: left;
}

#middle .you_like > ul {
  overflow: hidden;
  display: inline-block;
  margin-top: 20px;
}

#middle .you_like > ul li {
  float: left;
  margin: 0 10px;
  cursor: pointer;
}

#middle .you_like > ul li a {
  display: block;
}

#middle .you_like > ul li a img {
  display: block;
}

#middle .you_like > ul li span {
  display: block;
  text-align: center;
  font-size: 24px;
  color: #a40a0a;
  margin-top: 25px;
}

#middle .you_like > ul li:first-of-type {
  margin-left: 0px;
}

#middle .you_like > ul li:last-of-type {
  margin-right: 0px;
}

#footer {
  background-color: #000;
  width: 100%;
  height: 155px;
}

#footer .footer_head {
  height: 72px;
  border-bottom: 1px solid #d2d2d2;
  margin-bottom: 32px;
}

#footer .footer_head li {
  float: left;
  height: 72px;
  width: 217px;
  margin-left: 21px;
}

#footer .footer_head li a {
  color: #d4d4d4;
}

#footer .footer_head li * {
  float: left;
}

#footer .footer_head li img {
  margin-top: 13px;
  margin-right: 8px;
}

#footer .footer_head li h4 {
  margin-top: 15px;
  margin-bottom: 3px;
}

#footer .footer_head li h4 a {
  font-size: 16px;
}

#footer .footer_head li span a {
  font-size: 14px;
}

#footer .footer_head li:last-of-type {
  width: 200px;
}

#footer .footer_main {
  overflow: hidden;
  height: 190px;
}

#footer .footer_main dt,
#footer .footer_main a,
#footer .footer_main span,
#footer .footer_main small {
  color: #d4d4d4;
}

#footer .footer_main dl {
  float: left;
  margin: 0 77px 0 22px;
}

#footer .footer_main dl:last-of-type {
  margin-right: 0;
}

#footer .footer_main dt {
  font-size: 16px;
  font-weight: bold;
}

#footer .footer_main dd {
  margin: 4px 0;
}

#footer .footer_main a {
  font-size: 14px;
}

#footer .footer_main > div {
  float: right;
  margin-right: 73px;
  width: 244px;
}

#footer .footer_main > div * {
  display: block;
}

#footer .footer_main > div .tel {
  font-size: 36px;
}

#footer .footer_main > div small {
  font-size: 14px;
  text-align: center;
  margin: 23px auto;
}

#footer .footer_main > div a {
  width: 224px;
  height: 35px;
  border: 2px solid #d4d4d4;
  font-size: 16px;
  font-weight: bold;
  line-height: 35px;
  margin: 0 auto;
}

#footer .footer_main > div a img {
  float: left;
  margin: 7px 14px 0 31px;
}

#footer .copyright {
  width: 100%;
  height: 50px;
  background-color: #d2d2d2;
}

#footer .copyright p {
  line-height: 50px;
  text-align: center;
  font-family: SimSun;
  font-size: 14px;
  color: #010101;
}
