#middle {
  background-color: #EEE;
  padding: 84px 0;
}

#middle .main {
  width: 892px;
  background-color: #fff;
  margin: 0 auto;
  padding: 21px 0 33px 0;
}

#middle .main .title {
  color: #B90101;
  font-size: 20px;
  border-bottom: 3px solid #B90101;
  width: calc(100% - 26px);
  padding-left: 26px;
  font-weight: normal;
  height: 46px;
  line-height: 46px;
}

#middle .main .register {
  margin: 38px 0 0 223px;
}

#middle .main .register > div {
  margin-bottom: 8px;
  width: 100%;
  height: 38px;
}

#middle .main .register > div > label {
  float: left;
  height: 38px;
  line-height: 38px;
  font-size: 14px;
  color: #B90101;
  width: 105px;
  margin-right: 10px;
}

#middle .main .register > div > input {
  float: left;
  height: 38px;
  background-color: #EEE;
  color: #666;
  font-size: 14px;
  width: 357px;
  padding-left: 6px;
}

#middle .main .register > div .aw_text {
  float: left;
  height: 38px;
  line-height: 38px;
  color: #B90101;
  font-size: 14px;
  margin-left: 10px;
  font-style: normal;
  display: none;
}

#middle .main .register .yicon > input {
  text-align: center;
  width: 112px;
}

#middle .main .register .yicon > span {
  float: left;
  cursor: pointer;
}

#middle .main .register .yicon > span:first-of-type {
  width: 87px;
  height: 38px;
  margin: 0 19px;
}

#middle .main .register .yicon > span:first-of-type img {
  width: 87px;
  height: 38px;
}

#middle .main .register .yicon > span:last-of-type {
  margin-top: 20px;
  font-size: 14px;
  color: #666;
}

#middle .main .register .yicon .aw_text {
  margin-left: 32px;
}

#middle .main .register .userdeal {
  text-align: center;
  height: 19px;
  line-height: 19px;
  width: 203px;
  margin: 14px 0 29px 121.5px;
}

#middle .main .register .userdeal > label {
  height: 19px;
  line-height: 19px;
  width: auto;
  float: left;
  font-size: 14px;
  color: #666;
  cursor: pointer;
}

#middle .main .register .userdeal > span {
  display: block;
  height: 14px;
  width: 14px;
  background: url(../images/checkbox_true.png) no-repeat;
  cursor: pointer;
  float: left;
  margin: 2.5px 9px 0 0;
}

#middle .main .register .userdeal > input {
  display: none;
}

#middle .main .register .userdeal a {
  font-size: 14px;
  float: left;
  color: #B90101;
}

#middle .main .register > input {
  width: 391px;
  height: 54px;
  margin: 0 0 45px 52.5px;
  color: #fff;
  font-size: 20px;
  background-color: #B90101;
  cursor: pointer;
  display: block;
}

#middle .main .register > p {
  width: calc(100% - 42px);
  padding-left: 42px;
  font-size: 14px;
  color: #666;
}

#middle .main .register > p a {
  font-size: 14px;
  color: #B90101;
}
