#middle .containe {
  overflow: hidden;
}

#middle .containe .sidebar {
  width: 168px;
  float: left;
  margin-right: 17px;
  background-color: #EEE;
}

#middle .containe .sidebar h2 {
  background-color: #B90101;
  width: 168px;
  height: 66px;
  display: block;
  width: 100%;
  text-align: center;
  line-height: 66px;
  color: #fff;
  font-size: 18px;
}

#middle .containe .sidebar > ul {
  width: 168px;
  background-color: #000;
  padding-top: 28px;
  padding-bottom: 1px;
}

#middle .containe .sidebar > ul a {
  color: #fff;
  font-size: 14px;
}

#middle .containe .sidebar > ul > li {
  margin-bottom: 28px;
}

#middle .containe .sidebar > ul > li .active {
  background-color: #B90101;
}

#middle .containe .sidebar > ul > li h3 {
  height: 25px;
}

#middle .containe .sidebar > ul > li h3 a {
  line-height: 25px;
  display: block;
  font-size: 16px;
  color: #fff;
  padding-left: 22px;
  width: 146px;
  height: 100%;
}

#middle .containe .sidebar > ul > li h3:hover {
  background-color: #B90101;
}

#middle .containe .sidebar > ul > li > ul li {
  height: 25px;
  line-height: 25px;
}

#middle .containe .sidebar > ul > li > ul li a {
  display: block;
  padding-left: 22px;
  line-height: 25px;
  width: 146px;
  height: 100%;
}

#middle .containe .sidebar > ul > li > ul li:hover {
  background-color: #B90101;
}

#middle .containe .main {
  float: left;
  width: 1015px;
}

#middle .containe .main .user_info {
  padding: 29px 0 24px 31px;
  background-color: #EEE;
  overflow: hidden;
}

#middle .containe .main .user_info .head {
  width: 122px;
  float: left;
}

#middle .containe .main .user_info .head > img {
  display: block;
  width: 122px;
  height: 122px;
  -webkit-border-radius: 61px;
  -moz-border-radius: 61px;
  -ms-border-radius: 61px;
  -o-border-radius: 61px;
  border-radius: 61px;
}

#middle .containe .main .user_info .head > a {
  display: block;
  text-align: center;
  color: #1d8298;
  font-size: 14px;
  margin-top: 16px;
}

#middle .containe .main .user_info .info {
  float: left;
  margin-left: 35px;
}

#middle .containe .main .user_info .info > h3 {
  color: #ab5e04;
  font-size: 16px;
  margin-bottom: 22px;
}

#middle .containe .main .user_info .info > span,
#middle .containe .main .user_info .info > p {
  display: block;
  font-size: 14px;
  color: #666;
  line-height: 27px;
}

#middle .containe .main .user_info .info > p {
  margin-bottom: 37px;
}

#middle .containe .main .user_info .info > p > span {
  margin-right: 28px;
}

#middle .containe .main .user_info .info > div a {
  color: #000;
  font-size: 14px;
  margin-right: 22px;
}

#middle .containe .main .user_info .info > div a img {
  vertical-align: middle;
  margin-right: 3px;
}

#middle .containe .main .my_order {
  margin-top: 30px;
  padding-bottom: 20px;
}

#middle .containe .main .my_order > h2 {
  height: 40px;
  line-height: 40px;
  padding-left: 37px;
  width: calc(100% - 37px);
  background-color: #EEE;
  font-weight: normal;
  font-size: 14px;
  color: #000;
}

#middle .containe .main .my_order .order_thead {
  overflow: hidden;
  height: 35px;
  width: 100%;
}

#middle .containe .main .my_order .order_thead > li {
  height: 35px;
  line-height: 35px;
  float: left;
  color: #666;
  font-size: 14px;
}

#middle .containe .main .my_order .order_thead .time {
  margin-left: 23px;
  width: 350px;
}

#middle .containe .main .my_order .order_thead .order_num {
  width: 303px;
}

#middle .containe .main .my_order .order_thead .order_num > span {
  color: #000;
}

#middle .containe .main .my_order .order_thead .store_name {
  color: #000;
  margin-right: 130px;
}

#middle .containe .main .my_order .order_thead .store_name > span {
  font-weight: bolder;
}

#middle .containe .main .my_order .order_thead .order_status {
  color: #000;
}

#middle .containe .main .my_order .order_thead .order_status > span {
  font-weight: bolder;
}

#middle .containe .main .my_order .order_list {
  display: block;
  border: 1px solid #BFBFBF;
  width: calc(100% - 2px);
}

#middle .containe .main .my_order .order_list li {
  overflow: hidden;
  padding: 21px 0;
  border-top: 1px solid #BFBFBF;
  border-bottom: 1px solid #BFBFBF;
  font-size: 12px;
  position: relative;
}

#middle .containe .main .my_order .order_list li > div.orderPro {
  margin-left: 36px;
  width: 490px;
  float: left;
}

#middle .containe .main .my_order .order_list li > div.orderPro > a {
  float: left;
  display: block;
  width: 112px;
  height: 112px;
  border: 1px solid #d2d2d2;
}

#middle .containe .main .my_order .order_list li > div.orderPro > a > img {
  display: block;
  width: 100%;
}

#middle .containe .main .my_order .order_list li > div.orderPro > div {
  float: left;
  width: 180px;
  margin-left: 30px;
}

#middle .containe .main .my_order .order_list li > div.orderPro > div > a {
  line-height: 23px;
  display: block;
  margin-bottom: 24px;
  font-size: 12px;
  color: #666;
}

#middle .containe .main .my_order .order_list li > div.orderPro > div > p {
  margin-top: 5px;
  font-size: 12px;
  color: #666;
}

#middle .containe .main .my_order .order_list li > div.orderPro > div > p img {
  vertical-align: middle;
  margin-right: 8px;
}

#middle .containe .main .my_order .order_list li > div.orderPro > div p:first-of-type {
  color: #556fb5;
}

#middle .containe .main .my_order .order_list li > div.orderPro .color {
  line-height: 23px;
  color: #666;
  margin-left: 35px;
}

#middle .containe .main .my_order .order_list li .price,
#middle .containe .main .my_order .order_list li .count {
  width: 170px;
  float: left;
  line-height: 23px;
  color: #666;
}

#middle .containe .main .my_order .order_list li .price a,
#middle .containe .main .my_order .order_list li .count a {
  font-size: 12px;
  color: #1d8298;
}

#middle .containe .main .my_order .order_list li .count {
  width: 80px;
}

#middle .containe .main .my_order .order_list li .handle {
  float: left;
  width: 87px;
  margin: 0 40px 0 30px;
  color: #1d8298;
}

#middle .containe .main .my_order .order_list li .handle a {
  color: #1d8298;
  line-height: 23px;
}

#middle .containe .main .my_order .order_list li .handle .del,
#middle .containe .main .my_order .order_list li .handle .to_mylove,
#middle .containe .main .my_order .order_list li .handle .attention {
  cursor: pointer;
  line-height: 23px;
  text-align: left;
  display: block;
}

#middle .containe .main .my_order .order_list li > em {
  font-style: normal;
  font-weight: bold;
  color: #000;
  line-height: 23px;
}
