<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="css/public.css">
    <link rel="stylesheet" type="text/css" href="css/address.css">
    <title>管理收货地址</title>
</head>

<body>
    <div id="header">
        <div class="top">
            <div class="containe">
                <div class="left">
                    <a href="index.html">
                        <img src="images/home_icon.png" alt="">文的首页</a>
                    |
                    <span class="loginzt">
                        <a href="login.html" v-if="!isLogin">登录</a>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="#" v-if="isLogin" @click="logout">退出登录</a>
                        <a href="register.html" v-else>免费注册</a>
                    </span>
                </div>
                <ul class="shop" v-if="isLogin">
                    <li>
                        <a href="order.html">我的订单</a>
                    </li>
                    <li>
                        <a href="user.html">我的文的</a>
                    </li>
                    <li>|</li>
                    <li>
                        <a href="shop_cart.html">购物车</a>
                        <sup>{{cartCount}}</sup>
                    </li>
                    <!-- <li>|</li>
                    <li>
                        <a href="javascript:void(0)"><img src="images/favorite_icon.png" alt="">收藏夹</a>
                    </li>
                    <li><a href="javascript:void(0)">服务中心</a></li> -->
                </ul>
            </div>
        </div>
        <div class="in_tbody">
            <div class="containe">
                <div class="logo">
                    <a href="index.html">
                        <img :src="logoImg" alt="文的电器">
                    </a>
                </div>
                <div>
                    <h1>
                        <a href="index.html">
                            <img src="images/logo_title.png" alt="">
                        </a>
                    </h1>
                    <div class="search">
                        <input type="text" name="search" placeholder="请输入关键字搜索" v-model="keyWord">
                        <button @click="searchPro">搜索</button>
                    </div>
                </div>
                <div class="header_ad">
                    <a href="shop_list.html">
                        <img src="images/pro1.png" alt="">
                    </a>
                    <a href="shop_list.html">
                        <img src="images/pro2.png" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="nav">
            <div class="containe">
                <div class="menu">
                    <h2 class="active">所有产品分类
                        <img src="images/arrows_icon.png" alt="">
                    </h2>
                    <ul class="submenu">
                        <li>
                            <h3>
                                <a href="shop_list.html">厨房小电</a>
                            </h3>
                            <ul>
                                <li>
                                    <a href="shop_list.html">电饭煲</a>
                                </li>
                                <li>
                                    <a href="shop_list.html">电磁炉炉</a>
                                </li>
                                <li>
                                    <a href="shop_list.html">电压力锅</a>
                                </li>
                                <li>
                                    <a href="shop_list.html">电火锅</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <i></i>
                        </li>
                        <li>
                            <h3>
                                <a href="shop_list.html">炊具炖锅</a>
                            </h3>
                            <ul>
                                <li>
                                    <a href="shop_list.html">烹任锅具</a>
                                </li>
                                <li>
                                    <a href="shop_list.html">炒锅</a>
                                </li>
                                <li>
                                    <a href="shop_list.html">压力锅</a>
                                </li>
                                <li>
                                    <a href="shop_list.html">蒸锅</a>
                                </li>
                                <li>
                                    <a href="shop_list.html">炖锅</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <i></i>
                        </li>
                        <li>
                            <h3>
                                <a href="shop_list.html">养生水杯</a>
                            </h3>
                            <ul>
                                <li>
                                    <a href="shop_list.html">电热水壶</a>
                                </li>
                                <li>
                                    <a href="shop_list.html">养生壶</a>
                                </li>
                                <li>
                                    <a href="shop_list.html">豆浆机</a>
                                </li>
                                <li>
                                    <a href="shop_list.html">保温壶</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <i></i>
                        </li>
                        <li>
                            <h3>
                                <a href="shop_list.html">热卖产品</a>
                            </h3>
                            <ul>
                                <li>
                                    <a href="shop_list.html">电饭煲</a>
                                </li>
                                <li>
                                    <a href="shop_list.html">电压力锅</a>
                                </li>
                                <li>
                                    <a href="shop_list.html">炖锅</a>
                                </li>
                                <li>
                                    <a href="shop_list.html">电热水壶</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <ul class="subnav">
                    <li>
                        <a href="index.html">首页</a>
                    </li>
                    <li>
                        <a href="shop_list.html?type=商品列表">商品列表</a>
                    </li>
                    <li>
                        <a href="shop_list.html?type=炊具炖锅">炊具炖锅</a>
                    </li>
                    <li>
                        <a href="shop_list.html?type=厨房小电">厨房小电</a>
                    </li>
                    <li>
                        <a href="shop_list.html?type=爆款推荐">爆款推荐</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="middle">
        <ul class="crumbs">
            <li>
                <a href="index.html">首页></a>
            </li>
            <li>
                <a href="user.html">我的文的></a>
            </li>
            <li>
                <a href="order.html">订单中心</a>
            </li>
        </ul>
        <div class="containe">
            <div class="sidebar">
                <h2>会员中心</h2>
                <ul>
                    <li>
                        <h3>
                            <a href="user.html">账户信息</a>
                        </h3>
                        <ul>
                            <li class="active">
                                <a href="user.html">个人资料</a>
                            </li>
                            <li>
                                <a href="address.html">管理收货地址</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h3>
                            <a href="order.html">订单中心</a>
                        </h3>

                    </li>
                </ul>
            </div>
            <div class="main">
                <div class="add_button">
                    <a href="#add_addr">新增收货地址</a>
                    <span>您已创建
                        <span>{{addressList.length}}</span>个收货地址</span>
                </div>
                <div class="add_addr" id="add_addr">
                    <h3>添加收货地址</h3>
                    <div>
                        <div>
                            <label for="addruser"> *收货人：</label>
                            <input type="text" id="addruser" v-model="address_receiver" />
                            <span></span>
                        </div>
                        <div>
                            <label for="area">*所在地区：</label>
                            <input type="text" id="area" v-model="address_area" />
                            <span></span>
                        </div>
                        <div>
                            <label for="addr_details">*详细地址：</label>
                            <input type="text" id="addr_details" v-model="address_details" />
                            <span></span>
                        </div>
                        <div>
                            <label for="phone">*手机号码：</label>
                            <input type="text" id="phone" v-model="address_phone" />
                            <span></span>
                        </div>
                        <div>
                            <label for="tel"> 固定电话：</label>
                            <input type="text" id="tel" v-model="address_call_phone" />
                            <span></span>
                        </div>
                        <div>
                            <label for="email">邮箱：</label>
                            <input type="text" id="email" v-model="address_email" />
                            <span></span>
                        </div>
                        <button @click="saveAddress" :disabled="!isCanSub">保存收货地址</button>
                    </div>
                </div>
                <ul class="addrs">
                    <li :class="{default:item.address_default}" v-for="(item,i) in addressList">
                        <h4>{{item.address_receiver}}
                            <span>{{item.address_area}}</span>
                        </h4>
                        <ul>
                            <li>收货人：
                                <span>{{item.address_receiver}}</span>
                            </li>
                            <li>所在地区：
                                <span>{{item.address_area}}</span>
                            </li>
                            <li>地址：
                                <span>{{item.address_details}}</span>
                            </li>
                            <li>手机：
                                <span>{{item.address_phone}}</span>
                            </li>
                            <li>固定电话：
                                <span>{{item.address_call_phone}}</span>
                            </li>
                            <li>电子邮箱：
                                <span>{{item.address_email}}</span>
                            </li>
                        </ul>
                        <button @click="removeAddress(item.address_id,i)">
                            <img src="images/close_icon.png" />
                        </button>
                        <span @click="editAddress(item.address_id,i)" class="edit">编辑</span>
                        <span @click="setDefault(item.address_id,i)" class="default">设为默认</span>
                    </li>
                </ul>
            </div>
            <ul class="page">
            </ul>
        </div>
    </div>
    <div id="footer">
        <ul class="footer_head">
            <li>
                <a href="#">
                    <img src="images/b_icon1.png" alt="">
                </a>
                <h4>
                    <a href="#">正品保障</a>
                </h4>
                <br/>
                <span>
                    <a href="#">正品保障，提供发票</a>
                </span>
            </li>
            <li>
                <a href="#">
                    <img src="images/b_icon2.png" alt="">
                </a>
                <h4>
                    <a href="#">急速物流</a>
                </h4>
                <br/>
                <span>
                    <a href="#">急速物流，急速送达</a>
                </span>
            </li>
            <li>
                <a href="#">
                    <img src="images/b_icon3.png" alt="">
                </a>
                <h4>
                    <a href="#">无忧售后</a>
                </h4>
                <br/>
                <span>
                    <a href="#">七天无理由退换货</a>
                </span>
            </li>
            <li>
                <a href="#">
                    <img src="images/b_icon4.png" alt="">
                </a>
                <h4>
                    <a href="#">特色服务</a>
                </h4>
                <br/>
                <span>
                    <a href="#">为您呈现不一样的服务</a>
                </span>
            </li>
            <li>
                <a href="#">
                    <img src="images/b_icon5.png" alt="">
                </a>
                <h4>
                    <a href="#">帮助中心</a>
                </h4>
                <br/>
                <span>
                    <a href="#">你的购物管家</a>
                </span>
            </li>
        </ul>
        <div class="footer_main">
            <dl>
                <dt>购物指南</dt>
                <dd>
                    <a href="javascript:void(0)">购物需知</a>
                </dd>
                <dd>
                    <a href="javascript:void(0)">交易条款</a>
                </dd>
                <dd>
                    <a href="javascript:void(0)">购物流程</a>
                </dd>
            </dl>
            <dl>
                <dt>支付方式</dt>
                <dd>
                    <a href="javascript:void(0)">银行卡支付</a>
                </dd>
                <dd>
                    <a href="javascript:void(0)">支付宝支付</a>
                </dd>
                <dd>
                    <a href="javascript:void(0)">微信支付</a>
                </dd>
                <dd>
                    <a href="javascript:void(0)">快捷支付</a>
                </dd>
            </dl>
            <dl>
                <dt>客户服务</dt>
                <dd>
                    <a href="javascript:void(0)">服务中心</a>
                </dd>
                <dd>
                    <a href="javascript:void(0)">24小时服务</a>
                </dd>
                <dd>
                    <a href="javascript:void(0)">联系客服</a>
                </dd>
            </dl>
            <dl>
                <dt>关于我们</dt>
                <dd>
                    <a href="javascript:void(0)">平价介绍</a>
                </dd>
                <dd>
                    <a href="javascript:void(0)">招商加盟</a>
                </dd>
                <dd>
                    <a href="javascript:void(0)">申请加入</a>
                </dd>
                <dd>
                    <a href="javascript:void(0)">联系我们</a>
                </dd>
                <dd>
                    <a href="javascript:void(0)">新闻中心</a>
                </dd>
            </dl>
            <dl>
                <dt>常见问题</dt>
                <dd>
                    <a href="javascript:void(0)">下单后可以修改订单吗？</a>
                </dd>
                <dd>
                    <a href="javascript:void(0)">订单如保取消</a>
                </dd>
                <dd>
                    <a href="javascript:void(0)">出货后几可以到货</a>
                </dd>
            </dl>
            <div>
                <span class="tel">400-876-0703</span>
                <small>周一到周五：9:00-18:00</small>
                <a href="javascript:void(0)">
                    <img src="images/msg_icon.png" alt=""> 24小时客服热线
                </a>
            </div>
        </div>
        <div class="copyright">
            <p class="containe">
                京公网安备 11000002000001号京ICP证030173号违法和不良信息举报电话：010-59922822
            </p>
        </div>
    </div>
    <script src="js/jquery-1.7.1.min.js"></script>
    <script src="js/public.js"></script>
    <script src="js/address.js"></script>
</body>

</html>