<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="css/public.css">
    <link rel="stylesheet" type="text/css" href="css/confirm_order.css">
    <title>确认定单</title>
</head>

<body>
    <div id="header">
        <div class="top">
            <div class="containe">
                <div class="left">
                    <a href="index.html">
                        <img src="images/home_icon.png" alt="">文的首页</a>
                    |
                    <span class="loginzt">
                        <a href="login.html" v-if="!isLogin">登录</a>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="#" v-if="isLogin" @click="logout">退出登录</a>
                        <a href="register.html" v-else>免费注册</a>
                    </span>
                </div>
                <ul class="shop" v-if="isLogin">
                    <li>
                        <a href="order.html">我的订单</a>
                    </li>
                    <li>
                        <a href="user.html">我的文的</a>
                    </li>
                    <li>|</li>
                    <li>
                        <a href="shop_cart.html">购物车</a>
                        <sup>{{cartCount}}</sup>
                    </li>
                    <!-- <li>|</li>
                    <li>
                        <a href="javascript:void(0)"><img src="images/favorite_icon.png" alt="">收藏夹</a>
                    </li>
                    <li><a href="javascript:void(0)">服务中心</a></li> -->
                </ul>
            </div>
        </div>
        <div class="in_tbody">
            <div class="containe">
                <div class="logo">
                    <a href="index.html">
                        <img :src="logoImg" alt="文的电器">
                    </a>
                </div>
                <div>
                    <h1>
                        <a href="index.html">
                            <img src="images/logo_title.png" alt="">
                        </a>
                    </h1>
                    <div class="search">
                        <input type="text" name="search" placeholder="请输入关键字搜索" v-model="keyWord">
                        <button @click="searchPro">搜索</button>
                    </div>
                </div>
                <div class="header_ad">
                    <a href="shop_list.html">
                        <img src="images/pro1.png" alt="">
                    </a>
                    <a href="shop_list.html">
                        <img src="images/pro2.png" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="nav">
            <div class="containe">
                <div class="menu">
                    <h2 class="active">所有产品分类
                        <img src="images/arrows_icon.png" alt="">
                    </h2>
                    <ul class="submenu">
                        <li>
                            <h3>
                                <a href="shop_list.html">厨房小电</a>
                            </h3>
                            <ul>
                                <li>
                                    <a href="shop_list.html">电饭煲</a>
                                </li>
                                <li>
                                    <a href="shop_list.html">电磁炉炉</a>
                                </li>
                                <li>
                                    <a href="shop_list.html">电压力锅</a>
                                </li>
                                <li>
                                    <a href="shop_list.html">电火锅</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <i></i>
                        </li>
                        <li>
                            <h3>
                                <a href="shop_list.html">炊具炖锅</a>
                            </h3>
                            <ul>
                                <li>
                                    <a href="shop_list.html">烹任锅具</a>
                                </li>
                                <li>
                                    <a href="shop_list.html">炒锅</a>
                                </li>
                                <li>
                                    <a href="shop_list.html">压力锅</a>
                                </li>
                                <li>
                                    <a href="shop_list.html">蒸锅</a>
                                </li>
                                <li>
                                    <a href="shop_list.html">炖锅</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <i></i>
                        </li>
                        <li>
                            <h3>
                                <a href="shop_list.html">养生水杯</a>
                            </h3>
                            <ul>
                                <li>
                                    <a href="shop_list.html">电热水壶</a>
                                </li>
                                <li>
                                    <a href="shop_list.html">养生壶</a>
                                </li>
                                <li>
                                    <a href="shop_list.html">豆浆机</a>
                                </li>
                                <li>
                                    <a href="shop_list.html">保温壶</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <i></i>
                        </li>
                        <li>
                            <h3>
                                <a href="shop_list.html">热卖产品</a>
                            </h3>
                            <ul>
                                <li>
                                    <a href="shop_list.html">电饭煲</a>
                                </li>
                                <li>
                                    <a href="shop_list.html">电压力锅</a>
                                </li>
                                <li>
                                    <a href="shop_list.html">炖锅</a>
                                </li>
                                <li>
                                    <a href="shop_list.html">电热水壶</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <ul class="subnav">
                    <li>
                        <a href="index.html">首页</a>
                    </li>
                    <li>
                        <a href="shop_list.html?type=商品列表">商品列表</a>
                    </li>
                    <li>
                        <a href="shop_list.html?type=炊具炖锅">炊具炖锅</a>
                    </li>
                    <li>
                        <a href="shop_list.html?type=厨房小电">厨房小电</a>
                    </li>
                    <li>
                        <a href="shop_list.html?type=爆款推荐">爆款推荐</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="middle">
        <ul class="crumbs">
            <li><a href="index.html">首页></a></li>
            <li><a href="user.html">我的购物车></a></li>
            <li><a href="javascript:void(0)">确认定单</a></li>
        </ul>
        <div class="containe">
            <div class="thead">
                <h2>结算页</h2>
                <ul class="progressbar">
                    <li class="done">
                        <span>1</span>
                        <h5>1.我的购物车</h5>
                    </li>
                    <li class="on">
                        <span>2</span>
                        <h5>2.核对定单信息</h5>
                    </li>
                    <li>
                        <span>3</span>
                        <h5>3.确认支付</h5>
                    </li>
                    <li>
                        <span>4</span>
                        <h5>4.确认收货</h5>
                    </li>
                </ul>
            </div>

            <div class="main">
                <h2>填写并核对订单信息</h2>
                <div class="site_info">
                    <div>
                        <h3>收货人信息</h3>
                        <a class="add_site" @click="toAddAddress">新增收货地址</a>
                    </div>
                    <ul class="site_list" v-if="addressList.length!==0" v-show="isShowAddress">
                        <li :class="{active:selectAddressId===item.address_id}" v-for="(item ,i ) in addressList" :key="i" @click="selectTheAddress(item.address_id,i)">
                            <span class="simple">{{item.address_receiver}} {{item.address_area}}</span>
                            <span class="name">{{item.address_receiver}}</span>
                            <span class="site">{{item.address_area}}{{item.address_details}}</span>
                            <span class="tel">{{item.address_phone}}</span>
                            <span class="edit"><a @click="toAddress(item.address_id)" :href="'address.html?addressIndex='+i">编辑</a></span>
                            <span class="default" @click="setDrfaultAddress(item.address_id,i)" v-if="!item.address_default">设为默认地址</span>
                            <span class="default" style="color:red" v-else>默认地址</span>
                        </li>
                    </ul>
                    <h5 style="text-align:center;" v-else>您还没添加收货地址，点击右上角 “新增收货地址” 吧</h5>
                    <span class="up_site" @click="isShowAddress=!isShowAddress">{{isShowAddress?'收起':'展开'}}地址</span>
                    <i></i>
                </div>
                <div class="order_info">
                    <h3>确认定单信息</h3>
                    <ul class="title">
                        <li>商品</li>
                        <li>商品属性</li>
                        <li>单价</li>
                        <li>数量</li>
                        <li>优惠方式</li>
                        <li>小计</li>
                    </ul>
                    <div class="items">
                        <!-- <h3>苏珀尔旗舰店</h3> -->
                        <ul class="item">
                            <li v-for="(item,i) in proList" :key="i">
                                <div class="info ">
                                    <a :href="'pro_details.html?proId='+item.goods_id">
                                        <img :src="imgServer+item.goods_img[0]" alt=" ">
                                    </a>
                                    <div>
                                        <a :href="'pro_details.html?proId='+item.goods_id">{{item.goods_name}}</a>
                                        <p><img src="images/7_icon.png " alt=" ">支持7天无理由退货</p>
                                        <p><img src="images/bao_icon.png " alt=" ">选廷保</p>
                                    </div>
                                </div>
                                <span class="color ">颜色分类：<span>{{item.goods_color}}</span></span>
                                <span class="price ">￥{{item.goods_price}}</span>
                                <span class="count ">{{orderProList[i].qty}}</span>
                                <span class="tips">全国联保</span>
                                <div class="subtotal ">
                                    <em>￥{{item.goods_price * orderProList[i].qty}}</em>
                                    <!-- <span>{{item.goods_capacity}}</span> -->
                                </div>
                            </li>
                        </ul>
                        <div class="result">
                            <div>
                                <form>
                                    <label>给卖家留言：</label>
                                    <textarea class="msg" v-model="orderNote" placeholder="选填：对本次交易的说明（建议直填写已和卖家协商一致的内容）"></textarea>
                                </form>
                            </div>
                            <div>
                                <span class="mode">运送方式：<span>普通配送   快递   免邮</span></span>
                                <span class="safe">运费险：<span>卖家赠送，确认收货前退货，可获保赔付</span></span>
                            </div>
                            <span class="sum">合计（含运费）<em>￥{{totalPrice}} </em></span>
                        </div>
                    </div>
                </div>
                <div class="part">
                    <p class="result_price">应付总额：<em>￥{{totalPrice}}</em></p>
                    <p class="result_site">寄送至：
                        <span v-if="selectAddressId!==''">{{addressList[index].address_area}}{{addressList[index].address_details}}</span>
                        <span v-else>空</span>
                    </p>
                    <p class="user">收货人：
                        <span v-if="selectAddressId!==''">{{addressList[index].address_receiver}} {{addressList[index].address_phone}}</span>
                        <span v-else>空</span>
                    </p>
                </div>
                <button @click="confirm" :disabled="!isCanSub" class="sub">提交订单</button>
            </div>
        </div>
    </div>
    <div id="footer">
        <ul class="footer_head">
            <li>
                <a href="#"><img src="images/b_icon1.png" alt=""></a>
                <h4><a href="#">正品保障</a></h4><br/>
                <span><a href="#">正品保障，提供发票</a></span>
            </li>
            <li>
                <a href="#"><img src="images/b_icon2.png" alt=""></a>
                <h4><a href="#">急速物流</a></h4><br/>
                <span><a href="#">急速物流，急速送达</a></span>
            </li>
            <li>
                <a href="#"><img src="images/b_icon3.png" alt=""></a>
                <h4><a href="#">无忧售后</a></h4><br/>
                <span><a href="#">七天无理由退换货</a></span>
            </li>
            <li>
                <a href="#"><img src="images/b_icon4.png" alt=""></a>
                <h4><a href="#">特色服务</a></h4><br/>
                <span><a href="#">为您呈现不一样的服务</a></span>
            </li>
            <li>
                <a href="#"><img src="images/b_icon5.png" alt=""></a>
                <h4><a href="#">帮助中心</a></h4><br/>
                <span><a href="#">你的购物管家</a></span>
            </li>
        </ul>
        <div class="footer_main">
            <dl>
                <dt>购物指南</dt>
                <dd><a href="javascript:void(0)">购物需知</a></dd>
                <dd><a href="javascript:void(0)">交易条款</a></dd>
                <dd><a href="javascript:void(0)">购物流程</a></dd>
            </dl>
            <dl>
                <dt>支付方式</dt>
                <dd><a href="javascript:void(0)">银行卡支付</a></dd>
                <dd><a href="javascript:void(0)">支付宝支付</a></dd>
                <dd><a href="javascript:void(0)">微信支付</a></dd>
                <dd><a href="javascript:void(0)">快捷支付</a></dd>
            </dl>
            <dl>
                <dt>客户服务</dt>
                <dd><a href="javascript:void(0)">服务中心</a></dd>
                <dd><a href="javascript:void(0)">24小时服务</a></dd>
                <dd><a href="javascript:void(0)">联系客服</a></dd>
            </dl>
            <dl>
                <dt>关于我们</dt>
                <dd><a href="javascript:void(0)">平价介绍</a></dd>
                <dd><a href="javascript:void(0)">招商加盟</a></dd>
                <dd><a href="javascript:void(0)">申请加入</a></dd>
                <dd><a href="javascript:void(0)">联系我们</a></dd>
                <dd><a href="javascript:void(0)">新闻中心</a></dd>
            </dl>
            <dl>
                <dt>常见问题</dt>
                <dd><a href="javascript:void(0)">下单后可以修改订单吗？</a></dd>
                <dd><a href="javascript:void(0)">订单如保取消</a></dd>
                <dd><a href="javascript:void(0)">出货后几可以到货</a></dd>
            </dl>
            <div>
                <span class="tel">400-876-0703</span>
                <small>周一到周五：9:00-18:00</small>
                <a href="javascript:void(0)">
                    <img src="images/msg_icon.png" alt=""> 24小时客服热线
                </a>
            </div>
        </div>
        <div class="copyright">
            <p class="containe">
                京公网安备 11000002000001号京ICP证030173号违法和不良信息举报电话：010-59922822
            </p>
        </div>
    </div>
    <script src="js/jquery-1.7.1.min.js "></script>
    <script src="js/public.js "></script>
    <script src="js/confirm_order.js "></script>
</body>

</html>