<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="css/public.css">
    <link rel="stylesheet" type="text/css" href="css/shop_list.css">
    <title>商品列表</title>
</head>

<body>
    <div id="header">
        <div class="top">
            <div class="containe">
                <div class="left">
                    <a href="index.html"><img src="images/home_icon.png" alt="">文的首页</a>
                    |
                    <span class="loginzt">
                        <a href="login.html" v-if="!isLogin">登录</a>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <a  href="#" v-if="isLogin" @click="logout">退出登录</a>
                        <a href="register.html" v-else>免费注册</a>
                    </span>
                </div>
                <ul class="shop" v-if="isLogin">
                    <li><a href="order.html">我的订单</a></li>
                    <li><a href="user.html">我的文的</a></li>
                    <li>|</li>
                    <li><a href="shop_cart.html">购物车</a><sup>{{cartCount}}</sup></li>
                    <!-- <li>|</li>
                    <li>
                        <a href="javascript:void(0)"><img src="images/favorite_icon.png" alt="">收藏夹</a>
                    </li>
                    <li><a href="javascript:void(0)">服务中心</a></li> -->
                </ul>
            </div>
        </div>
        <div class="in_tbody">
            <div class="containe">
                <div class="logo">
                    <a href="index.html">
                        <img :src="logoImg" alt="文的电器">
                    </a>
                </div>
                <div>
                    <h1>
                        <a href="index.html">
                            <img src="images/logo_title.png" alt="">
                        </a>
                    </h1>
                    <div class="search">
                        <input type="text" name="search" placeholder="请输入关键字搜索" v-model="keyWord">
                        <button @click="searchPro">搜索</button>
                    </div>
                </div>
                <div class="header_ad">
                    <a href="shop_list.html"><img src="images/pro1.png" alt=""></a>
                    <a href="shop_list.html"><img src="images/pro2.png" alt=""></a>
                </div>
            </div>
        </div>
        <div class="nav">
            <div class="containe">
                <div class="menu">
                    <h2 class="active">所有产品分类 <img src="images/arrows_icon.png" alt=""></h2>
                    <ul class="submenu">
                        <li>
                            <h3><a href="shop_list.html">厨房小电</a></h3>
                            <ul>
                                <li>
                                    <a href="shop_list.html">电饭煲</a>
                                </li>
                                <li>
                                    <a href="shop_list.html">电磁炉炉</a>
                                </li>
                                <li>
                                    <a href="shop_list.html">电压力锅</a>
                                </li>
                                <li>
                                    <a href="shop_list.html">电火锅</a>
                                </li>
                            </ul>
                        </li>
                        <li><i></i></li>
                        <li>
                            <h3><a href="shop_list.html">炊具炖锅</a></h3>
                            <ul>
                                <li>
                                    <a href="shop_list.html">烹任锅具</a>
                                </li>
                                <li>
                                    <a href="shop_list.html">炒锅</a>
                                </li>
                                <li>
                                    <a href="shop_list.html">压力锅</a>
                                </li>
                                <li>
                                    <a href="shop_list.html">蒸锅</a>
                                </li>
                                <li>
                                    <a href="shop_list.html">炖锅</a>
                                </li>
                            </ul>
                        </li>
                        <li><i></i></li>
                        <li>
                            <h3><a href="shop_list.html">养生水杯</a></h3>
                            <ul>
                                <li>
                                    <a href="shop_list.html">电热水壶</a>
                                </li>
                                <li>
                                    <a href="shop_list.html">养生壶</a>
                                </li>
                                <li>
                                    <a href="shop_list.html">豆浆机</a>
                                </li>
                                <li>
                                    <a href="shop_list.html">保温壶</a>
                                </li>
                            </ul>
                        </li>
                        <li><i></i></li>
                        <li>
                            <h3><a href="shop_list.html">热卖产品</a></h3>
                            <ul>
                                <li>
                                    <a href="shop_list.html">电饭煲</a>
                                </li>
                                <li>
                                    <a href="shop_list.html">电压力锅</a>
                                </li>
                                <li>
                                    <a href="shop_list.html">炖锅</a>
                                </li>
                                <li>
                                    <a href="shop_list.html">电热水壶</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <ul class="subnav">
                    <li>
                        <a href="index.html">首页</a>
                    </li>
                    <li :class="{active:subnavText==='商品列表'}">
                        <a href="shop_list.html?type=商品列表">商品列表</a>
                    </li>
                    <li :class="{active:subnavText==='炊具炖锅'}">
                        <a href="shop_list.html?type=炊具炖锅">炊具炖锅</a>
                    </li>
                    <li :class="{active:subnavText==='厨房小电'}">
                        <a href="shop_list.html?type=厨房小电">厨房小电</a>
                    </li>
                    <li :class="{active:subnavText==='爆款推荐'}">
                        <a href="shop_list.html?type=爆款推荐">爆款推荐</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="middle">
        <ul class="crumbs">
            <!-- <li>
                <a href="shop_list.html">厨房小电></a>
            </li>
            <li>
                <a href="shop_list.html">电饭锅</a>
            </li> -->
        </ul>
        <div class="containe">
            <div class="sideleft">
                <!-- <div class="bar">
                    <h2>厨房小电</h2>
                    <ul>
                        <li class="active">
                            <a href="javascript:void(0)">电饭煲</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">电磁炉</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">电压力锅</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">电火锅</a>
                        </li>
                    </ul>
                </div> -->
                <div class="hot_pro">
                    <h3>热卖商品</h3>
                    <ul>
                        <li v-for="(pro,i) in hostList">
                            <a :href="'pro_details.html?proId='+pro.goods_id">
                                <img :src="imgServer+pro.goods_img[0]" alt="">
                            </a>
                            <a :href="'pro_details.html?proId='+pro.goods_id">
                                <span>{{pro.goods_name}}</span>
                                <del>{{pro.goods_marketPrice}}</del>
                                <em>{{pro.goods_price}}</em>
                            </a>
                        </li>
                        <!-- <li>
                            <a href="pro_details.html">
                                <img src="images/ad_02.png" alt="">
                            </a>
                            <a href="pro_details.html">
                                <span>1.6L黄金蜂窝内胆 智能预约</span>
                                <del>599.00</del>
                                <em>499.00</em>
                            </a>
                        </li>
                        <li>
                            <a href="pro_details.html">
                                <img src="images/ad_03.png" alt="">
                            </a>
                            <a href="pro_details.html">
                                <span>4L涡轮除泡防溢锅 圆灶釜</span>
                                <del>399.00</del>
                                <em>299.00</em>
                            </a>
                        </li>
                        <li>
                            <a href="pro_details.html">
                                <img src="images/ad_03.png" alt="">
                            </a>
                            <a href="pro_details.html">
                                <span>4L涡轮除泡防溢锅 圆灶釜</span>
                                <del>399.00</del>
                                <em>299.00</em>
                            </a>
                        </li> -->
                    </ul>
                </div>
            </div>
            <div class="main">
                <!-- <div class="options">
                    <div>
                        <h3>电饭煲</h3>
                        <span class="bg"></span>
                        <div class="option">
                            <h5>品牌：</h5>
                            <ul>
                                <li class="active"><a href="javascript:void(0)">全部</a></li>
                                <li><a href="javascript:void(0)">苏泊尔（SUPOR）</a></li>
                                <li><a href="javascript:void(0)">美的（Midea）</a></li>
                                <li><a href="javascript:void(0)">松下（Panasonic）</a></li>
                                <li><a href="javascript:void(0)">飞利浦（PHILIPS）</a></li>
                                <li><a href="javascript:void(0)">九阳（Joyoung）</a></li>
                            </ul>
                        </div>
                        <div class="option">
                            <h5>价格：</h5>
                            <ul>
                                <li class="active"><a href="javascript:void(0)">全部</a></li>
                                <li><a href="javascript:void(0)">0-299</a></li>
                                <li><a href="javascript:void(0)">300-699</a></li>
                                <li><a href="javascript:void(0)">700-1599</a></li>
                                <li><a href="javascript:void(0)">1600-2999</a></li>
                                <li><a href="javascript:void(0)">3000-4499</a></li>
                                <li><a href="javascript:void(0)">4500-6999</a></li>
                                <li><a href="javascript:void(0)">7000-39999</a></li>
                            </ul>
                            <div class="price_range">
                                <input id="priceMin" title='最低价' maxlength='6' />
                                <em> - </em>
                                <input id="priceMax" title='最高价' maxlength='8' />
                                <button id="priceBtn">确定</button>
                            </div>
                        </div>
                        <div class="height_op">
                            <h5>高级选项：</h5>
                            <ul class="type">
                                <li>容量</li>
                                <li>适用人数</li>
                                <li>加热方式</li>
                                <li>内胆材质</li>
                                <li>类别</li>
                                <li>操作方式</li>
                                <li>功能</li>
                            </ul>
                            <div class="type_list">
                                <ul>
                                    <li>容量1</li>
                                    <li>容量2</li>
                                    <li>容量3</li>
                                    <li>容量4</li>
                                    <li>容量5</li>
                                    <li>容量6</li>
                                    <li>容量7</li>
                                    <li>容量9</li>
                                    <li>容量10</li>
                                </ul>
                                <ul>
                                    <li>1人</li>
                                    <li>2人</li>
                                    <li>3人</li>
                                    <li>4人</li>
                                    <li>5人</li>
                                    <li>6人</li>
                                    <li>7人</li>
                                    <li>8人</li>
                                    <li>9人</li>
                                </ul>
                                <ul>
                                    <li>加热方式</li>
                                    <li>加热方式</li>
                                    <li>加热方式</li>
                                    <li>加热方式</li>
                                    <li>加热方式</li>
                                    <li>加热方式</li>
                                    <li>加热方式</li>
                                    <li>加热方式</li>
                                </ul>
                                <ul>
                                    <li>内胆材质</li>
                                    <li>内胆材质</li>
                                    <li>内胆材质</li>
                                    <li>内胆材质</li>
                                    <li>内胆材质</li>
                                    <li>内胆材质</li>
                                    <li>内胆材质</li>
                                    <li>内胆材质</li>
                                </ul>
                                <ul>
                                    <li>类别</li>
                                    <li>类别</li>
                                    <li>类别</li>
                                    <li>类别</li>
                                    <li>类别</li>
                                    <li>类别</li>
                                    <li>类别</li>
                                    <li>类别</li>
                                    <li>类别</li>
                                </ul>
                                <ul>
                                    <li>操作方式</li>
                                    <li>操作方式</li>
                                    <li>操作方式</li>
                                    <li>操作方式</li>
                                    <li>操作方式</li>
                                    <li>操作方式</li>
                                    <li>操作方式</li>
                                    <li>操作方式</li>
                                    <li>操作方式</li>
                                </ul>
                                <ul>
                                    <li>功能</li>
                                    <li>功能</li>
                                    <li>功能</li>
                                    <li>功能</li>
                                    <li>功能</li>
                                    <li>功能</li>
                                    <li>功能</li>
                                    <li>功能</li>
                                    <li>功能</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div> -->
                <div class="sort">
                    <h5>排列方式：</h5>
                    <ul>
                        <li @click="proSort" class="active">
                            <a href="javascript:void(0)">默认</a>
                        </li>
                        <li @click="sortSale">
                            <a href="javascript:void(0)">销量</a>
                        </li>
                        <!-- <li><a href="javascript:void(0)">人所</a></li> -->
                        <li @click="sortpri">
                            <a href="javascript:void(0)">价格</a>
                        </li>
                    </ul>
                </div>
                <ul class="pro_list" v-if="proList.length>0">
                    <li v-for="(pro,i) in proList">
                        <div class="pro_info">
                            <a :href="'pro_details.html?proId='+pro.goods_id">
                                <img :src="imgServer+pro.goods_img[0]" alt="">
                            </a>
                            <a :href="'pro_details.html?proId='+pro.goods_id">
                                <span>{{pro.goods_name}}</span>
                                <del>{{pro.goods_marketPrice}}</del>
                                <em>{{pro.goods_price}}</em>
                            </a>
                        </div>
                        <div class="handle">
                            <a  @click="toSubOrder(pro.goods_id)">立即购买</a>
                            <a  @click="addshopcart(pro.goods_id)" class="addshopcart">加入购物车</a>
                        </div>
                    </li>
                    <!-- <li>
                        <div class="pro_info">
                            <a href="pro_details.html">
                                <img src="images/shop_pro2.png" alt="">
                            </a>
                            <a href="pro_details.html">
                                <span>3l双胆智能预约电高压锅正品</span>
                                <del>499.00</del>
                                <em>399.00</em>
                            </a>
                        </div>
                        <div class="handle">
                            <a href="confirm_order.html">立即购买</a>
                            <a href="javascript:void(0)" class="addshopcart">加入购物车</a>
                        </div>
                    </li>
                    <li>
                        <div class="pro_info">
                            <a href="pro_details.html">
                                <img src="images/shop_pro3.png" alt="">
                            </a>
                            <a href="pro_details.html">
                                <span>1.6L黄金蜂窝内胆 智能预约</span>
                                <del>599.00</del>
                                <em>499.00</em>
                            </a>
                        </div>
                        <div class="handle">
                            <a href="confirm_order.html">立即购买</a>
                            <a href="javascript:void(0)" class="addshopcart">加入购物车</a>
                        </div>
                    </li>
                    <li>
                        <div class="pro_info">
                            <a href="pro_details.html">
                                <img src="images/shop_pro4.png" alt="">
                            </a>
                            <a href="pro_details.html">
                                <span>4L涡轮除泡防溢锅 圆灶釜</span>
                                <del>399.00</del>
                                <em>299.00</em>
                            </a>
                        </div>
                        <div class="handle">
                            <a href="confirm_order.html">立即购买</a>
                            <a href="javascript:void(0)" class="addshopcart">加入购物车</a>
                        </div>
                    </li>

                    <li>
                        <div class="pro_info">
                            <a href="pro_details.html">
                                <img src="images/shop_pro5.png" alt="">
                            </a>
                            <a href="pro_details.html">
                                <span>金属拉丝机身 聚能釜5L电饭锅</span>
                                <del>439.00</del>
                                <em>339.00</em>
                            </a>
                        </div>
                        <div class="handle">
                            <a href="confirm_order.html">立即购买</a>
                            <a href="javascript:void(0)" class="addshopcart">加入购物车</a>
                        </div>
                    </li>
                    <li>
                        <div class="pro_info">
                            <a href="pro_details.html">
                                <img src="images/shop_pro2.png" alt="">
                            </a>
                            <a href="pro_details.html">
                                <span>3l双胆智能预约电高压锅正品</span>
                                <del>499.00</del>
                                <em>399.00</em>
                            </a>
                        </div>
                        <div class="handle">
                            <a href="confirm_order.html">立即购买</a>
                            <a href="javascript:void(0)" class="addshopcart">加入购物车</a>
                        </div>
                    </li>
                    <li>
                        <div class="pro_info">
                            <a href="pro_details.html">
                                <img src="images/shop_pro3.png" alt="">
                            </a>
                            <a href="pro_details.html">
                                <span>1.6L黄金蜂窝内胆 智能预约</span>
                                <del>599.00</del>
                                <em>499.00</em>
                            </a>
                        </div>
                        <div class="handle">
                            <a href="confirm_order.html">立即购买</a>
                            <a href="javascript:void(0)" class="addshopcart">加入购物车</a>
                        </div>
                    </li>
                    <li>
                        <div class="pro_info">
                            <a href="pro_details.html">
                                <img src="images/shop_pro4.png" alt="">
                            </a>
                            <a href="pro_details.html">
                                <span>4L涡轮除泡防溢锅 圆灶釜</span>
                                <del>399.00</del>
                                <em>299.00</em>
                            </a>
                        </div>
                        <div class="handle">
                            <a href="confirm_order.html">立即购买</a>
                            <a href="javascript:void(0)" class="addshopcart">加入购物车</a>
                        </div>
                    </li>

                    <li>
                        <div class="pro_info">
                            <a href="pro_details.html">
                                <img src="images/shop_pro1.png" alt="">
                            </a>
                            <a href="pro_details.html">
                                <span>4L家用智能电饭煲3-4-5-6人</span>
                                <del>399.00</del>
                                <em>299.00</em>
                            </a>
                        </div>
                        <div class="handle">
                            <a href="confirm_order.html">立即购买</a>
                            <a href="javascript:void(0)" class="addshopcart">加入购物车</a>
                        </div>
                    </li>
                    <li>
                        <div class="pro_info">
                            <a href="pro_details.html">
                                <img src="images/shop_pro2.png" alt="">
                            </a>
                            <a href="pro_details.html">
                                <span>3l双胆智能预约电高压锅正品</span>
                                <del>499.00</del>
                                <em>399.00</em>
                            </a>
                        </div>
                        <div class="handle">
                            <a href="confirm_order.html">立即购买</a>
                            <a href="javascript:void(0)" class="addshopcart">加入购物车</a>
                        </div>
                    </li>
                    <li>
                        <div class="pro_info">
                            <a href="pro_details.html">
                                <img src="images/shop_pro3.png" alt="">
                            </a>
                            <a href="pro_details.html">
                                <span>1.6L黄金蜂窝内胆 智能预约</span>
                                <del>599.00</del>
                                <em>499.00</em>
                            </a>
                        </div>
                        <div class="handle">
                            <a href="confirm_order.html">立即购买</a>
                            <a href="javascript:void(0)" class="addshopcart">加入购物车</a>
                        </div>
                    </li>
                    <li>
                        <div class="pro_info">
                            <a href="pro_details.html">
                                <img src="images/shop_pro4.png" alt="">
                            </a>
                            <a href="pro_details.html">
                                <span>4L涡轮除泡防溢锅 圆灶釜</span>
                                <del>399.00</del>
                                <em>299.00</em>
                            </a>
                        </div>
                        <div class="handle">
                            <a href="confirm_order.html">立即购买</a>
                            <a href="javascript:void(0)" class="addshopcart">加入购物车</a>
                        </div>
                    </li>
                    <li>
                        <div class="pro_info">
                            <a href="pro_details.html">
                                <img src="images/shop_pro5.png" alt="">
                            </a>
                            <a href="pro_details.html">
                                <span>金属拉丝机身 聚能釜5L电饭锅</span>
                                <del>439.00</del>
                                <em>339.00</em>
                            </a>
                        </div>
                        <div class="handle">
                            <a href="confirm_order.html">立即购买</a>
                            <a href="javascript:void(0)" class="addshopcart">加入购物车</a>
                        </div>
                    </li>
                    <li>
                        <div class="pro_info">
                            <a href="pro_details.html">
                                <img src="images/shop_pro2.png" alt="">
                            </a>
                            <a href="pro_details.html">
                                <span>3l双胆智能预约电高压锅正品</span>
                                <del>499.00</del>
                                <em>399.00</em>
                            </a>
                        </div>
                        <div class="handle">
                            <a href="confirm_order.html">立即购买</a>
                            <a href="javascript:void(0)" class="addshopcart">加入购物车</a>
                        </div>
                    </li>
                    <li>
                        <div class="pro_info">
                            <a href="pro_details.html">
                                <img src="images/shop_pro3.png" alt="">
                            </a>
                            <a href="pro_details.html">
                                <span>1.6L黄金蜂窝内胆 智能预约</span>
                                <del>599.00</del>
                                <em>499.00</em>
                            </a>
                        </div>
                        <div class="handle">
                            <a href="confirm_order.html">立即购买</a>
                            <a href="javascript:void(0)" class="addshopcart">加入购物车</a>
                        </div>
                    </li>
                    <li>
                        <div class="pro_info">
                            <a href="pro_details.html">
                                <img src="images/shop_pro4.png" alt="">
                            </a>
                            <a href="pro_details.html">
                                <span>4L涡轮除泡防溢锅 圆灶釜</span>
                                <del>399.00</del>
                                <em>299.00</em>
                            </a>
                        </div>
                        <div class="handle">
                            <a href="confirm_order.html">立即购买</a>
                            <a href="javascript:void(0)" class="addshopcart">加入购物车</a>
                        </div>
                    </li> -->
                </ul>
                <div class="page" v-else>
                    暂无相关商品
                </div>
                <!-- <div class="page">
                    <ul>
                        <li>
                            <a href="#">上一页</a>
                        </li>
                        <li class="on">
                            <a href="#">1</a>
                        </li>
                        <li>
                            <a href="#">2</a>
                        </li>
                        <li>
                            <a href="#">3</a>
                        </li>
                        <li>
                            <a href="#">下一页</a>
                        </li>
                    </ul>
                </div> -->
            </div>
        </div>
    </div>
    <div id="footer">
        <ul class="footer_head">
            <li>
                <a href="#">
                    <img src="images/b_icon1.png" alt="">
                </a>
                <h4>
                    <a href="#">正品保障</a>
                </h4>
                <br/>
                <span>
                    <a href="#">正品保障，提供发票</a>
                </span>
            </li>
            <li>
                <a href="#">
                    <img src="images/b_icon2.png" alt="">
                </a>
                <h4>
                    <a href="#">急速物流</a>
                </h4>
                <br/>
                <span>
                    <a href="#">急速物流，急速送达</a>
                </span>
            </li>
            <li>
                <a href="#">
                    <img src="images/b_icon3.png" alt="">
                </a>
                <h4>
                    <a href="#">无忧售后</a>
                </h4>
                <br/>
                <span>
                    <a href="#">七天无理由退换货</a>
                </span>
            </li>
            <li>
                <a href="#">
                    <img src="images/b_icon4.png" alt="">
                </a>
                <h4>
                    <a href="#">特色服务</a>
                </h4>
                <br/>
                <span>
                    <a href="#">为您呈现不一样的服务</a>
                </span>
            </li>
            <li>
                <a href="#">
                    <img src="images/b_icon5.png" alt="">
                </a>
                <h4>
                    <a href="#">帮助中心</a>
                </h4>
                <br/>
                <span>
                    <a href="#">你的购物管家</a>
                </span>
            </li>
        </ul>
        <div class="footer_main">
            <dl>
                <dt>购物指南</dt>
                <dd>
                    <a href="javascript:void(0)">购物需知</a>
                </dd>
                <dd>
                    <a href="javascript:void(0)">交易条款</a>
                </dd>
                <dd>
                    <a href="javascript:void(0)">购物流程</a>
                </dd>
            </dl>
            <dl>
                <dt>支付方式</dt>
                <dd>
                    <a href="javascript:void(0)">银行卡支付</a>
                </dd>
                <dd>
                    <a href="javascript:void(0)">支付宝支付</a>
                </dd>
                <dd>
                    <a href="javascript:void(0)">微信支付</a>
                </dd>
                <dd>
                    <a href="javascript:void(0)">快捷支付</a>
                </dd>
            </dl>
            <dl>
                <dt>客户服务</dt>
                <dd>
                    <a href="javascript:void(0)">服务中心</a>
                </dd>
                <dd>
                    <a href="javascript:void(0)">24小时服务</a>
                </dd>
                <dd>
                    <a href="javascript:void(0)">联系客服</a>
                </dd>
            </dl>
            <dl>
                <dt>关于我们</dt>
                <dd>
                    <a href="javascript:void(0)">平价介绍</a>
                </dd>
                <dd>
                    <a href="javascript:void(0)">招商加盟</a>
                </dd>
                <dd>
                    <a href="javascript:void(0)">申请加入</a>
                </dd>
                <dd>
                    <a href="javascript:void(0)">联系我们</a>
                </dd>
                <dd>
                    <a href="javascript:void(0)">新闻中心</a>
                </dd>
            </dl>
            <dl>
                <dt>常见问题</dt>
                <dd>
                    <a href="javascript:void(0)">下单后可以修改订单吗？</a>
                </dd>
                <dd>
                    <a href="javascript:void(0)">订单如保取消</a>
                </dd>
                <dd>
                    <a href="javascript:void(0)">出货后几可以到货</a>
                </dd>
            </dl>
            <div>
                <span class="tel">400-876-0703</span>
                <small>周一到周五：9:00-18:00</small>
                <a href="javascript:void(0)">
                    <img src="images/msg_icon.png" alt=""> 24小时客服热线
                </a>
            </div>
        </div>
        <div class="copyright">
            <p class="containe">
                京公网安备 11000002000001号京ICP证030173号违法和不良信息举报电话：010-59922822
            </p>
        </div>
    </div>
    <script src="js/jquery-1.7.1.min.js"></script>
    <script src="js/public.js"></script>
    <script src="js/shop_list.js"></script>
</body>

</html>