<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="css/public.css">
    <link rel="stylesheet" type="text/css" href="css/user.css">
    <title>会员中心</title>
</head>

<body>
    <div id="header">
        <div class="top">
            <div class="containe">
                <div class="left">
                    <a href="index.html">
                        <img src="images/home_icon.png" alt="">文的首页</a>
                    |
                    <span class="loginzt">
                        <a href="login.html" v-if="!isLogin">登录</a>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="#" v-if="isLogin" @click="logout">退出登录</a>
                        <a href="register.html" v-else>免费注册</a>
                    </span>
                </div>
                <ul class="shop" v-if="isLogin">
                    <li>
                        <a href="order.html">我的订单</a>
                    </li>
                    <li>
                        <a href="user.html">我的文的</a>
                    </li>
                    <li>|</li>
                    <li>
                        <a href="shop_cart.html">购物车</a>
                        <sup>{{cartCount}}</sup>
                    </li>
                    <!-- <li>|</li>
                    <li>
                        <a href="javascript:void(0)">
                            <img src="images/favorite_icon.png" alt="">收藏夹</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">服务中心</a>
                    </li> -->
                </ul>
            </div>
        </div>
        <div class="in_tbody">
            <div class="containe">
                <div class="logo">
                    <a href="index.html">
                        <img :src="logoImg" alt="文的电器">
                    </a>
                </div>
                <div>
                    <h1>
                        <a href="index.html">
                            <img src="images/logo_title.png" alt="">
                        </a>
                    </h1>
                    <div class="search">
                        <input type="text" name="search" placeholder="请输入关键字搜索" v-model="keyWord">
                        <button @click="searchPro">搜索</button>
                    </div>
                </div>
                <div class="header_ad">
                    <a href="shop_list.html">
                        <img src="images/pro1.png" alt="">
                    </a>
                    <a href="shop_list.html">
                        <img src="images/pro2.png" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="nav">
            <div class="containe">
                <div class="menu">
                    <h2 class="active">所有产品分类
                        <img src="images/arrows_icon.png" alt="">
                    </h2>
                    <ul class="submenu">
                        <li>
                            <h3>
                                <a href="shop_list.html">厨房小电</a>
                            </h3>
                            <ul>
                                <li>
                                    <a href="shop_list.html">电饭煲</a>
                                </li>
                                <li>
                                    <a href="shop_list.html">电磁炉炉</a>
                                </li>
                                <li>
                                    <a href="shop_list.html">电压力锅</a>
                                </li>
                                <li>
                                    <a href="shop_list.html">电火锅</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <i></i>
                        </li>
                        <li>
                            <h3>
                                <a href="shop_list.html">炊具炖锅</a>
                            </h3>
                            <ul>
                                <li>
                                    <a href="shop_list.html">烹任锅具</a>
                                </li>
                                <li>
                                    <a href="shop_list.html">炒锅</a>
                                </li>
                                <li>
                                    <a href="shop_list.html">压力锅</a>
                                </li>
                                <li>
                                    <a href="shop_list.html">蒸锅</a>
                                </li>
                                <li>
                                    <a href="shop_list.html">炖锅</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <i></i>
                        </li>
                        <li>
                            <h3>
                                <a href="shop_list.html">养生水杯</a>
                            </h3>
                            <ul>
                                <li>
                                    <a href="shop_list.html">电热水壶</a>
                                </li>
                                <li>
                                    <a href="shop_list.html">养生壶</a>
                                </li>
                                <li>
                                    <a href="shop_list.html">豆浆机</a>
                                </li>
                                <li>
                                    <a href="shop_list.html">保温壶</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <i></i>
                        </li>
                        <li>
                            <h3>
                                <a href="shop_list.html">热卖产品</a>
                            </h3>
                            <ul>
                                <li>
                                    <a href="shop_list.html">电饭煲</a>
                                </li>
                                <li>
                                    <a href="shop_list.html">电压力锅</a>
                                </li>
                                <li>
                                    <a href="shop_list.html">炖锅</a>
                                </li>
                                <li>
                                    <a href="shop_list.html">电热水壶</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <ul class="subnav">
                    <li>
                        <a href="index.html">首页</a>
                    </li>
                    <li :class="{active:subnavText==='商品列表'}">
                        <a href="shop_list.html?type=商品列表">商品列表</a>
                    </li>
                    <li :class="{active:subnavText==='炊具炖锅'}">
                        <a href="shop_list.html?type=炊具炖锅">炊具炖锅</a>
                    </li>
                    <li :class="{active:subnavText==='厨房小电'}">
                        <a href="shop_list.html?type=厨房小电">厨房小电</a>
                    </li>
                    <li :class="{active:subnavText==='爆款推荐'}">
                        <a href="shop_list.html?type=爆款推荐">爆款推荐</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="middle">
        <ul class="crumbs">
            <li>
                <a href="index.html">首页></a>
            </li>
            <li>
                <a href="shop_cart.html">我的文的</a>
            </li>
        </ul>
        <div class="containe">
            <div class="sidebar">
                <h2>会员中心</h2>
                <ul>
                    <li>
                        <h3>
                            <a href="user.html">账户信息</a>
                        </h3>
                        <ul>
                            <li class="active">
                                <a href="user.html">个人资料</a>
                            </li>
                            <li>
                                <a href="address.html">管理收货地址</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h3>
                            <a href="order.html">订单中心</a>
                        </h3>
                    </li>
                </ul>
            </div>
            <div class="main">
                <div class="user_info">
                    <div class="head">
                        <img :src="imgServer+userInfo.user_headurl" alt="">
                    </div>
                    <div class="info">
                        <h3>{{userInfo.user_name}}</h3>
                        <span>您好！文的欢迎您 ！</span>
                        <p>帐户余额：
                            <span>￥{{userInfo.user_balance}}</span> 帐户状态：
                            <span>正常</span>
                        </p>
                        <div>
                            <a href="javascript:void(0)" class="edit_info">
                                <img src="images/edit_icon.png" alt="">修改个人资料</a>
                            <a href="address.html" class="edit_addr">
                                <img src="images/addr_icon.png" alt="">收货地址管理</a>
                            <a href="javascript:void(0)" class="verify_email">
                                <img src="images/email_icon.png" alt="">未验证邮箱</a>
                            <a href="javascript:void(0)" class="verify_phone">
                                <img src="images/phone_icon.png" alt="">未验证手机</a>
                        </div>
                    </div>
                </div>
                <div class="my_order">
                    <h2>最新订单</h2>
                    <ul class="order_list" v-if="orderList.length!==0">
                        <li>
                            <div class="orderPro">
                                <a :href="'order_details.html?orderId='+orderList[0].order_id">
                                    <img src="images/pro3_1_1.png" alt="">
                                </a>
                                <div>
                                    <a :href="'order_details.html?orderId='+orderList[0].order_id">
                                        <p>订单号：
                                            <span>{{orderList[0].order_id}}</span>
                                        </p>
                                        <p>下单时间：
                                            <span>{{orderList[0].order_create_time | formTime}}</span>
                                        </p>
                                    </a>
                                    <p>
                                        <img src="images/7_icon.png" alt="">支持7天无理由退货</p>
                                    <p>
                                        <img src="images/bao_icon.png" alt="">选廷保</p>
                                </div>
                                <span class="color">收货人：
                                    <span>{{orderList[0].receiver}}</span>
                                </span>
                            </div>
                            <span class="price">订单总价：￥{{orderList[0].order_total_price}}</span>
                            <span class="count">商品数量：{{orderList[0].qty}}</span>
                            <div class="handle">
                                <a :href="'order_details.html?orderId='+orderList[0].order_id">查看订单详情</a>
                                <a :href="'pay.html?orderId='+orderList[0].order_id" v-if="orderList[0].order_status===1">去付款</a>
                                <a :href="'comment.html?proId='+orderList[0].proList[0].goods_id+'&orderId='+orderList[0].order_id" v-if="orderList[0].order_status===4">去评价</a>
                                <span class="del" v-if="orderList[0].order_status===3"  @click="updateOrder(orderList[0].order_id,4)">确认收货</span>
                                <span class="del" style="color:red;" v-if="orderList[0].order_status===1||orderList[0].order_status===2" @click="updateOrder(orderList[0].order_id,0)">取消订单</span>
                            </div>
                            <em>{{orderList[0].order_status|orderStatus}}</em>
                        </li>
                    </ul>
                </div>

                <h5 style="text-align:center;margin-top: 20px;" v-else>暂无订单！</h5>
            </div>
        </div>
    </div>
    </div>
    <div id="footer">
        <ul class="footer_head">
            <li>
                <a href="#">
                    <img src="images/b_icon1.png" alt="">
                </a>
                <h4>
                    <a href="#">正品保障</a>
                </h4>
                <br/>
                <span>
                    <a href="#">正品保障，提供发票</a>
                </span>
            </li>
            <li>
                <a href="#">
                    <img src="images/b_icon2.png" alt="">
                </a>
                <h4>
                    <a href="#">急速物流</a>
                </h4>
                <br/>
                <span>
                    <a href="#">急速物流，急速送达</a>
                </span>
            </li>
            <li>
                <a href="#">
                    <img src="images/b_icon3.png" alt="">
                </a>
                <h4>
                    <a href="#">无忧售后</a>
                </h4>
                <br/>
                <span>
                    <a href="#">七天无理由退换货</a>
                </span>
            </li>
            <li>
                <a href="#">
                    <img src="images/b_icon4.png" alt="">
                </a>
                <h4>
                    <a href="#">特色服务</a>
                </h4>
                <br/>
                <span>
                    <a href="#">为您呈现不一样的服务</a>
                </span>
            </li>
            <li>
                <a href="#">
                    <img src="images/b_icon5.png" alt="">
                </a>
                <h4>
                    <a href="#">帮助中心</a>
                </h4>
                <br/>
                <span>
                    <a href="#">你的购物管家</a>
                </span>
            </li>
        </ul>
        <div class="footer_main">
            <dl>
                <dt>购物指南</dt>
                <dd>
                    <a href="javascript:void(0)">购物需知</a>
                </dd>
                <dd>
                    <a href="javascript:void(0)">交易条款</a>
                </dd>
                <dd>
                    <a href="javascript:void(0)">购物流程</a>
                </dd>
            </dl>
            <dl>
                <dt>支付方式</dt>
                <dd>
                    <a href="javascript:void(0)">银行卡支付</a>
                </dd>
                <dd>
                    <a href="javascript:void(0)">支付宝支付</a>
                </dd>
                <dd>
                    <a href="javascript:void(0)">微信支付</a>
                </dd>
                <dd>
                    <a href="javascript:void(0)">快捷支付</a>
                </dd>
            </dl>
            <dl>
                <dt>客户服务</dt>
                <dd>
                    <a href="javascript:void(0)">服务中心</a>
                </dd>
                <dd>
                    <a href="javascript:void(0)">24小时服务</a>
                </dd>
                <dd>
                    <a href="javascript:void(0)">联系客服</a>
                </dd>
            </dl>
            <dl>
                <dt>关于我们</dt>
                <dd>
                    <a href="javascript:void(0)">平价介绍</a>
                </dd>
                <dd>
                    <a href="javascript:void(0)">招商加盟</a>
                </dd>
                <dd>
                    <a href="javascript:void(0)">申请加入</a>
                </dd>
                <dd>
                    <a href="javascript:void(0)">联系我们</a>
                </dd>
                <dd>
                    <a href="javascript:void(0)">新闻中心</a>
                </dd>
            </dl>
            <dl>
                <dt>常见问题</dt>
                <dd>
                    <a href="javascript:void(0)">下单后可以修改订单吗？</a>
                </dd>
                <dd>
                    <a href="javascript:void(0)">订单如保取消</a>
                </dd>
                <dd>
                    <a href="javascript:void(0)">出货后几可以到货</a>
                </dd>
            </dl>
            <div>
                <span class="tel">400-876-0703</span>
                <small>周一到周五：9:00-18:00</small>
                <a href="javascript:void(0)">
                    <img src="images/msg_icon.png" alt=""> 24小时客服热线
                </a>
            </div>
        </div>
        <div class="copyright">
            <p class="containe">
                京公网安备 11000002000001号京ICP证030173号违法和不良信息举报电话：010-59922822
            </p>
        </div>
    </div>
    <script src="js/jquery-1.7.1.min.js"></script>
    <script src="js/public.js"></script>
    <script src="js/user.js"></script>
</body>

</html>